.wrap{
    width: 800px;
    margin: 200px auto 200px auto;
}
.wrap h1 span:nth-child(1){
    float: left;
    color: blue;
}
.wrap h1 span:nth-last-child(1){
    float: right;
}
.wrap h1 span:nth-last-child(1) i{
    font-weight: 800;
}
.con-txt input{
    width: 95%;
    height: 150px;
    margin: 20px auto;
    border: 1px solid gray;
}
.con-link{

}
.con-link .con-link-l{
    float: left;
    line-height: 70px;
}
.con-link .con-link-l a{
    display: inline-block;
    width: 80px;
    height: 50px;
    line-height: 50px;
    text-align: center;
}
.con-link .con-link-r{
    float: right;
    height: 80px;
    line-height: 80px;
}
.con-link .con-link-r a{
     display: inline-block;
     width: 50px;
     height: 50px;
     line-height: 50px;
     text-align: center;

 }
.con-link .con-link-r button{

}
.bar-top{}
.bar-top .bar-top-l{
    float: left;
}
.bar-top .bar-top-l a{
    display: inline-block;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
}
.bar-top .bar-top-r{
    float: right;
}
.bar-top .bar-top-r input{
        width: 200px;
    height: 50px;
    border: 1px solid gray;
}
.bar-con .user-inf{
    width: 90%;
    margin: 0 auto;
    height: 60px;
}
.bar-con .user-inf .img{
    width: 50px;
    height: 50px;
    display: inline-block;
}
.bar-con .user-inf .u-inf{
    width: 100px;
    height: 50px;
    display: inline-block;
}
.bar-con .user-link a{
    display: inline-block;
    width: 20%;
    border-right: 1px solid gray;
    text-align: center;
}