html{
    width: 100%;
}
.body{
    font-family: Hoefler Text, Songti TC, serif;
    font-size: 14px;
    background-color: #fff;
    word-wrap: break-word;
    word-break: normal;
    width: 100%;
}
/*头部*header*/
.header{
    position: relative;
    padding: 12px  20px;
    height: 64px;
    box-shadow: 0 1px 0 rgba(0,0,0,0.05);
}
.header:after{
    content: " ";
    display: table;
    line-height: 0;
    clear: both;
}
.container:after{
    content: " ";
    display: table;
    line-height: 0;
    clear: both;
}
/*container容器*/
.container{
    position: relative;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
@media (max-width: 770px){
    .container {
        margin: 0 auto;
        margin-bottom: 10px;
    }
}
@media (min-width: 1024px) {
    .container {
        width: 960px;
    }
}
@media (min-width: 1280px) {
    .container {
        width: 1080px;
    }
}
@media (min-width: 1440px) {
    .container {
        width: 1200px;
    }
}
.logo{
    float: left;
}
.logo img{
    height: 32px;
    margin-top: 6px;
}
.login-top{
    top: 0;
    position: relative;
    right: 0px;
    float: right;
    height: 40px;
    width: auto;
}
.search{
    width: 200px;
    height: 40px;
    display: inline-block;
    position: relative;
}
.search-txt{
    border: 1px solid black;
    float: left;
    padding-left: 45px;
    width: 150px;
    height: 40px;
    cursor: pointer;
}
.login-btn-top{
    float: left;
    color: #2e2e2e;
    vertical-align: middle;
    line-height: 44px;
    padding-right: 20px;
}
.login-btn-top:hover a{
    opacity: 0.7;
    color: #2BB6C9;
}
/*主内容包裹index-wrap*/
.index-wrap{
    margin-top: 60px;
}
/*主内容main-content*/
.main-content{
    padding-right: 385px;
    position: relative;
}
@media (max-width: 770px){
    .main-content {
        padding-right: 0px;
    }
}
/*左侧导航nav-category*/
.nav-category{
    font-size: 16px;
    font-weight: bold;
}
.nav-category ul:before{
    content: " ";
    display: table;
    line-height: 0;
}
.nav-category ul:after{
    content: " ";
    display: table;
    line-height: 0;
    clear: both;
}
.nav-category li{
    float: left;
    margin-right: 50px;
    margin-bottom: 15px;
}
@media (max-width: 515px){
    .nav-category li {
        float: none;
        margin-left: 0px;
    }
}
.nav-category li a{
    color: #b3b3b3;
}
li.active a{
    color: #2e2e2e;
}
/*左侧主内容main-list*/
.main-list{
    margin-top: 50px;
}
/*左侧内容项目ws-item*/
.ws-item{
    margin-bottom: 50px;
}
.avatar{
    display: inline-block;
    vertical-align: top;
    position: relative;
    padding-left: 40px;
    min-height: 40px;
}
.avatar .avatar-img{
    border-radius: 4px;
    vertical-align: top;
    width: 40px;
    height: 40px;
    position: absolute;
    left: 0px;
    top: 0px;
    display: inline-block;
}
.avatar .avatar-img img{
    width: 100%;
    height: 100%;
    border-radius: 100%;
}
.avatar .avatar-des{
    margin-left: 10px;
}
.avatar .avatar-des .title{
    font-size: 14px;
    font-weight: bold;
    color: #2e2e2e;
    margin-top: 1px;
}
.avatar .avatar-des .meta{
    color: #b3b3b3;
    display: inline-block;
    font-size: 12px;
}
.ws-item .pic{
    max-width: 665px;
    margin-top: 20px;
    height: 200px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 4px;
    overflow: hidden;
}
.ws-item h2{
    font-size: 24px;
    font-weight: bold;
    margin-top: 30px;
    margin-bottom: 20px;
}
.ws-item .des{
    font-size: 16px;
    color: #777777;
}
/*左侧加载更多*/
.loading{
    position: relative;
}
.loading .load-more{
    cursor: pointer;
    text-align: center;
    color: #777777;
    border: 1px dashed #ebebeb;
    border-radius: 4px;
    padding: 10px;
}
.loading .load-more:hover{
    color: #000;
    border-color: #999999;
}
/*右侧侧边*/
.main-side{
    position: absolute;
    right: 0px;
    top: 0px;
    width: 330px;
}
@media (max-width: 770px){
    .main-side {
        display: none;
    }
}
/*动画 模拟光标输入*/
@keyframes flash {
    0% {
        opacity: 1;
    }
    25% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    75% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
/*动画  模态页面过渡*/
@keyframes flash1 {
    0% {
        opacity: 0.3;
    }
    25%{
        opacity: 0.4;
    }
    50% {
        opacity: 0.5;
    }
    75% {
        opacity: 0.6;
    }
    100% {
        opacity: 0.7;
    }
}
/*右侧头部start-write*/
.start::before {
    content: '';
    display: inline-block;
    width: 1px;
    height: 16px;
    background-color: #2e2e2e;
    position: absolute;
    left: -5px;
    top: 5px;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-name: flash;
}
.start i{
    position: absolute;
    left: -2px;
    top: -22px;
    color: #2e2e2e;
    font-size: 24px;
}
.start-write .icon-pen:before{
    content: "\1F58A";
}
.start-write .start:hover{
    color: #2BB6C9;
}
.start-write .start:hover i {
    opacity: 0.1;
}
/*右侧内容块side-block*/
.main-side .title{
    font-size: 16px;
    font-weight: bold;
    color: #b3b3b3;
    margin-top: 40px;
}
.hot-list{
    margin-top: 15px;
}
.hot-list li{
    margin-top: 15px;
}
.hot-list li .meta{
    font-size: 12px;
    color: #b3b3b3;
    margin-top: 2px;
}
.hot-list li h3{
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 0px;
}
/*右侧注脚side-footer*/
.side-footer{
    padding-top: 20px;
    margin-top: 50px;
    padding-bottom: 20px;
    border-top: 1px solid #ebebeb;
}
.side-footer>a{
    color: #777777;
    display: inline-block;
    font-size: 12px;
    padding-right: 5%;
}
.icon-weixin{
    float: right;
    margin-left: 10px;
    display: inline-block;
    width: 3px;
    height: 19px;
    background-image: url("../img/wechat-img.jpg");
}
.index-weixin-code{
    position: absolute;
    text-align: center;
    background: #fff;
    border-radius: 6px;
    width: 200px;
    bottom: 30px;
    right: -23px;
    box-shadow: 0 0 0 1px #ebebeb;
    padding: 10px 0;
    z-index: 1000;
}
.index-weixin-code img{
    width: 180px;
    height: 180px;
}
.index-weixin-code b{
    display: block;
    text-align: center;
    font-size: 14px;
    padding: 5px 0 8px 0;
    color: #000;
}
.icon-weibo{
    float: right;
    width: 5px;
    height: 19px;
    background-image: url("../img/xinlang-img.jpg");
}
/*模态框背景层*/
#grey{
    animation-name: flash1;
    animation-duration: 0.15s;
    animation-iteration-count: 1;
    display: none;
    top: 0;
    left: 0;
   background-color: rgba(0,0,0,0.7);
    width: 100%;
    height: 100%;
    position: fixed;
}
/*登陆界面*/
.login-page{
    background: #fff;
    position:absolute;
    top: 18%;
    left: 33%;
    width: 32%;
    height: 520px;
}
@media (max-width: 770px){
    .login-page{
        background: #fff;
        position:absolute;
        top: 18%;
        left:0;
        width: 90%;
        height: 520px;
    }
}
.X-btn{
    border: none;
    background-color: white;
    float: right;
    text-shadow: 0 1px 0 #fff;
    cursor: pointer;
}
.login{
    width: 100%;
}
.login-con{
    width: 100%;
    height: 348px;
}
.login-tab{
    text-align: center;
    padding:6.97%;
    margin:5.81% 0 6.97%;
}
.login-tab a{
    height: 32px;
    line-height: 32px;
    margin-left: 11.3%;
    margin-right: 11.3%;
    border-radius: 100%;
    color: black;
    display: inline-block;
    border: 1px solid black;
}
.login-tab a:hover{
    opacity: 0.5;
}
.fill-in{
    margin-top: 10px;
    width: 100%;
    padding: 0 20px;
}
.fill-in input{
    height: 64px;
    width: 90%;
    border-bottom: 1px solid #2BB6C9;
}
.login-btn-footer{
    height: 40px;
    display: block;
    margin: 9.3% auto;
    width: 46.5%;
    border-color: #208897;;
    background-color: #2BB6C9;
}
.test-promp{
    color: deeppink;
    width: 26.7%;
    margin: 8.1% auto;
    display: block;
}
.prompt{
    color: deeppink;
    width: 100%;
    margin: 2.32% auto;
    display: block;
}
.forget-pass{
    position: absolute;
    display: block;
    right:7%;
    bottom: 7%;
}
.forget-pass a{
    color: red;
}
.register-btn-footer{
    position: absolute;
    bottom: 20px;
    left: 25%;
    height: 9.3%;
    display: block;
    margin: 5.81% auto;
    width: 46.5%;
    border-color: #208897;;
    background-color: #2BB6C9;
}
a:hover{
    opacity: 0.7;
    color: #2BB6C9;
}
/*details.html*/
.de-content{
    position: relative;
}
.de-item{
    margin-bottom: 50px;
}
.de-item .pic{
    text-align: center;
margin-top: 20px;
}
.de-item .des{
    color: #777777;
    margin-top: 20px;
}
.de-h2{
    text-align: center;
    font-size: xx-large;
}
@media screen and (max-width:600px){
    .de-item .des {
        font-size: smaller;
    }
    .de-h2 {
        font-size: x-large;
    }
}
.pic img{
    width: 100%;
}