<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        .container,.image-contaienr,.imageView{
            width: fit-content;
            height: fit-content;
        }
        .image-contaienr{
            position: relative
        }
        .imageView{
            position: absolute
        }
    </style>
</head>
<body>
    <div id="container">
        <div class="image-container"></div>
        <p class="load-more"><span>加载更多</span></p>
    </div>
</body>

<script src="jquery.min-1.12.4.js"></script>
<script src="template-web.js"></script>
<script src="waterfall.js"></script>

<!-- 页面模板开始 -->
<script id="imageView" type="text/html">-
    <% for(var i=0;i<data.length;i++){ %>
    
    <div class="imageView">
        <div><img src="http://172.17.12.10:8080/webserver/images/<%=data[i].name%>" /></div>
        <!-- <div><img src="http://172.fsdfsdfsdfsdf/<%=data[i].name%>" alt=""></div> -->
        <div class="title"><%=data[i].title%></div>
        <div class="content"><%=data[i].content%></div>
        <div class="author"><%=data[i].author%></div>
    </div>
    <% } %>
</script>
<!-- 页面模板结束 -->


<script>
    /*
        在第一行按顺序排好所有的图片(每张图片宽度一样，高度不一样)，以五张图片为例
        从第二开始，从五列当中找出高度最小的一列，把新的图片加在这列上，然后列的的
        高度需要加上新图片的高度。重复这个过程
     */

    // 加载获取图片数据
    /*
        http://172.17.12.10:8080/webserver/image?p=1&s=10
        p           页面码
        s           每页获取到的记录数量
     */
    var page = 1;               // 页码
    var size = 20;              // 每次获取到的数据

    $.ajax({
        url: 'http://172.17.12.10:8080/webserver/image',
        data: {p:page, s:size},
        type: 'get',
        dataType: 'jsonp',
        success: function(data){
            if (data.statusCode == 0) { // 检查服务器返回的状态码是否为正确的状态码
                console.log(data.data)     //
                console.log(data)     //模板解压缩JSON外层
                appendImageViewsToDOM(data);
                
            }else{
                alert('获取的数据异常');
            }
        },
        error: function(error){
            console.log('连接服务器出现异常');
        }
    });

    /**
     * 把获取到数据生成节点并添加到DOM树中
     * @param data          获取到图片数据数组
     */
    function appendImageViewsToDOM(data){
        console.log(data.data.length);
        var html = template('imageView', data);
        var container = $('.image-container');
        container.html(container.html() + html);
        container.Waterfall(5)
    }

</script>
</html>