body{
    background-color: #F8F8F8;
}
.wrap{
    width: 963px;
    height: 450px;
    margin: 50px auto;
}
.top{
    position: relative;
    width: 963px;
    height: 45px;
    border-bottom: 2px solid gray;
}
.main{
    height: 400px;
    width: 963px;
    background-color: bisque;
}
.main-l{
    float: left;
 width:245px;
    height:398px ;
    background-color: #FFFFFF;
}
.main-r{
    float: left;
    width: 718px;
    height: 398px;
    background-color: #FFFFFF;
}
/*top*/
.top span{
    font-size: 15px;
    display: inline-block;
    float: left;
    height: 45px;
    line-height: 45px;
    font-weight: 700;
    text-indent: 12px;
}
.top {
 font-size: 16px;
    font-weight: 700;
}
.top ul{
    height: 45px;
    line-height: 45px;
    width: 455px;
    margin: 0 auto;
    text-align: center;;
}
.top a{
    display: inline-block;
    width: 60px;
}
/*main-l*/
.main-l h{
    display: inline-block;
 width: 245px;
    font-size: 16px;
    font-weight: 700;
}
.main-l ul{
    margin-right: 40px;
    float: left;
    font-size: 15px;
    margin-left: 20px;
}
.main-l ul li{
 margin-top: 5px;
    list-style-type: disc;
}
.main-l-top{
    border-bottom: 1px solid gray;
}
.main-l-fot{
    margin-top: 20px;
    height: 181px;
    background: url("../img/1/bg.png") no-repeat;

}
.main-l-fot h{
    font-size: 16px;
    font-weight: normal;
}
.main-r li{
    position: relative;
    margin-top: 10px;
    margin-right: 10px;
    float: left;
    height: 172px;
}
.main-r li:nth-child(1){
    margin-left: 10px;
}
.main-r span{
    color: #FF6600;
    font-size: 16px;
}
.main-r i{
    font-size: 16px;
    float: right;
}
.main-r h{
    position: absolute;
    right: 1px;
    top: 90px;
}
.main-r a{
    background: url("../img/1/a4.jpg");
    display: inline-block;
    width: 226px;
    height: 128px;
}
