.wrap{
    width: 100%;
   background-color: #E8E8E8;
}
.footer{
    width: fit-content;
    margin: 0 auto;

}
.friend-link{
    float: left;
    background: #E8E8E8 url("../img/3/igao7-fLogo.png") no-repeat 7px;
    padding-left: 197px;
    width: 490px;
    height: 140px;
    margin: 0 auto;
}
p{
    margin-top: 20px;
}
a{
    display: inline-block;
    width: 80px;
}
.partner a:nth-child(1),.call-us a:nth-child(1){
    margin-left: 61px;
}
.wechat{

    float: left;
}
.wechat h{
    position: relative;;
    padding-right:20px ;

}
.wechat span{
    position: absolute;
    top: 70px;
    display: block;
    right: 41px;
}
footer{
    margin-top: 10px;
    text-align: center;
}
.footer-img{
    width: 83px;
    height: 30px;
    display: inline-block;
    background: url("../img/3/sm_83x30.png");
}
.footer-img-1{
    width: 83px;
    height: 30px;
    display: inline-block;
    background: url("../img/3/qiniu.jpg");
}