@charset "utf-8";
/* CSS Document */
body,ul,ol,li,p,h1,h2,h3,h4,h5,h6,form,fieldset,table,td,img,div,dl,dt,dd,input{margin:0;padding:0;}
body{font-size:12px;}/*按需*/
h1,h2,h3,h4,h5,h6{text-decoration:none;font-weight:normal;font-size:100%;}
img{border:none;}
li{list-style:none;}
input,select,textarea{outline:none;border:none; background:none;}
textarea{resize:none;}
input { padding-top:0; padding-bottom:0; font-family: "SimSun","宋体";}
select, input { vertical-align:middle; }
select, input, textarea { font-size:12px; margin:0; }
textarea { resize:none; }/*禁止拉伸*/
img {border:0;	vertical-align:middle;}/*防止拖动*/
table { border-collapse:collapse; }/*去图片底部3px空白像素*/
s,i,em{font-style:normal;text-decoration:none}
a{text-decoration:none; color:#656565;}
/*清除浮动*/
.clearfix:after{content:"";display:block;clear:both;}
.clearfix{*zoom:1;/*IE/6/7/*/}
.fl{float:left;}
.fr{float:right;}




























