/*css 初始化 */
html, body, ul, li, ol, dl, dd, dt, p, h1, h2, h3, h4, h5, h6, form, fieldset, legend, img { margin:0; padding:0; } 
fieldset, img,input,button { border:none; padding:0;margin:0;outline-style:none; }
ul, ol { list-style:none; }
input { padding-top:0; padding-bottom:0; font-family: "SimSun","宋体";}
select, input { vertical-align:middle; }
select, input, textarea { font-size:12px; margin:0; }
textarea { resize:none; }
img {border:0;	vertical-align:middle;}
table { border-collapse:collapse; }
body {
    font:12px/150% Arial,Verdana,"\5b8b\4f53";
    color:#666;
    background:#fff
}
.clearfix:before,.clearfix:after{ 
    content:""; 
    display:table; 
} 
.clearfix:after{clear:both;} 
.clearfix{ 
    *zoom:1;/*IE/7/6*/ 
} 
a{color:#666; text-decoration:none; }
a:hover{color:#C81623;}
h1,h2,h3,h4,h5,h6{text-decoration:none;font-weight:normal;}
s,i,em{font-style:normal;text-decoration:none;}
.col-red{color: #C81623!important;}

/*公共类*/
.w{
    width: 1210px;margin:0 auto;
}
.fl {
	float:left
}
.fr {
	float:right
}
.al {
	text-align:left
}
.ac {
	text-align:center
}
.ar {
	text-align:right
}
.hide {
	display:none
}

@font-face {
  font-family: 'iconfont';  /* project id 508304 */
  src: url('//at.alicdn.com/t/font_508304_hwybwxuy05yzxgvi.eot');
  src: url('//at.alicdn.com/t/font_508304_hwybwxuy05yzxgvi.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_508304_hwybwxuy05yzxgvi.woff') format('woff'),
  url('//at.alicdn.com/t/font_508304_hwybwxuy05yzxgvi.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_508304_hwybwxuy05yzxgvi.svg#iconfont') format('svg');
}
.iconfont{
    font-family:"iconfont" !important;
    font-size:16px;font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;}
    
/*页面顶部导航部分开始*/
.tp-nav{
	width: 100%;
	height: 32px;
	background: #f1f1f1;
	line-height: 32px;
}
.tp-nav-l{
	font: 14px/32px "微软雅黑";
	color: #666666;
}
.tp-nav-l .icon-arrow-down,.tp-nav-r .icon-arrow-down{
	color: #666;
	font: 10px "微软雅黑";
}

.tp-nav-r ul li{
	float: left; 
	margin: 0 5px; 
	font: 14px/32px "微软雅黑"; 
}
.tp-nav-r .line{
	height: 10px;
	width: 1px;
	background: #ddd;
	margin-top:11px ;
}
/*页面顶部小广告部分开始*/
.tp-banner{
	height: 80px;
	background: #8a25c6;
}
.tp-banner-content{
	position: relative;
}
.tp-banner-content a{
	width: 19px;
	height: 19px;
	background: url(../img/close.png);
	display: block;
	position: absolute;
	top:6px;
	right: 0;
}
.tp-banner-content a:hover{
	background-position:bottom ;
}
/*logo,search部分内容*/
.logo{
	width: 360px;
	height: 75px;
	padding-top: 25px;
	background:url(../img/logo.png) no-repeat left center;
	position: relative;
}
.logo .logo-a{
	display:block;
	width: 270px;
	height: 60px;
	text-indent: -1000em;
}
.logo .active{
	position: absolute;
	right: 12px;
	top: 6px;
}
.search{
	width: 538px;
	height: 36px;
	padding-top: 25px;
	line-height: 36px;
}
.search input{
	width: 448px;
	height: 32px;
	border:  2px solid #b61d1d;
	padding-left: 6px;
	font: 14px "微软雅黑";
	color: #666;
}
.search button{
	background: #b61d1d;
	width: 80px;
	height: 36px;
	text-align: center;
	color: #FFFFFF;
	font: 16px/36px "微软雅黑";
}
.shoppingcar{
	width: 140px;
	height: 34px;
	border: 1px solid #dfdfdf;
	margin: 25px 65px 0 0;
	text-align: center;
	color: #666;
	font: 14px/36px "微软雅黑";
	position: relative;
}
.shoppingcar .icon-gouwuche1{
	color:red ;
}
.shoppingcar span{
	display: inline-block;
	background: red;
	width: 16px;
	height: 16px;
	border-radius:8px 8px 8px 0;
	font: 8px/16px "微软雅黑";
	text-align: center;
	color: #fff;
	position: absolute;
	top: -4px;
	left: 104px;
}
.hotwords{
	width: 500px;
	height: 30px;
	line-height: 30px;
	
}
.hotwords a	{
	margin: 0 5px;
	font: 12px/30px "微软雅黑";
}
.hotwords .current{
	color: red;
	margin-left: 0;
}
/*主要导航部分*/
.nav{
	height: 44px;
	border-bottom:2px solid #b1191a ;
}
.sidebar{
	width: 210px;
	height: 44px;
	background: green;
	position: relative;
	z-index: 2;
}
.sidebar .dt a{
	display: block;
	width: 200px;
	height: 44px;
	line-height: 44px;
	background: #b1191a;
	padding-left: 10px;
	font: 14px/44px "微软雅黑";
	color: #fff;
}
.sidebar .dd{
	width: 184px;
	height: 465px;
	margin-top: 2px;
	background: #c81623;
	border-left: 1px solid #b61d1d;
	padding-left: 10px;
	padding-right: 15px;
}
.sidebar .dd ul li{
	height: 31px;
	font: 14px/31px "微软雅黑";
	
}
.sidebar .dd ul li a{
	color: #fff;
	margin-right: 8px;
	float: left;
}
.sidebar .dd .icon-jiantou{
	color: #FFFFFF;
	font: 10px/31px "微软雅黑";
	float: right;
}
.mainnav{
	height: 44px;
	font: 14px/44px "微软雅黑";
	
}
.mainnav ul li{
	float: left;
	height: 44px;
	width: 72px;
}
.mainnav ul li a{
	color: #333;
}
.bike{
	width: 140px;
	height: 44px;
	background: url(../img/bike.jpg) no-repeat center center;
}
