/*/轮播图部分*/
#bg-banner{
    position: absolute;
    top: 9px;
    left: -363px;
    z-index: -1;
}
.bg{
    width: 1202px;
    position: relative;
    left: 10px;
}
.main{
    width: 1215px;
    margin:9px auto;
}
.main .slide-main{
    width: 730px;
    height: 454px;
    margin-left: 10px;
    position: relative;
    overflow: hidden;
}
.slide-main .slide-pic{
    height: 454px;
}
.main .slide-pic img{
    width: 730px;
    height: 454px;
}
.toleft{
    position: absolute;
    margin: auto;
    top:0;
    bottom: 0;
    left: 0;
    width: 30px;
    height: 60px;
    background: #000;
    opacity: 0.4;
    text-align: center;
    line-height: 60px;
}
.toleft:hover{
    opacity: 0.6;
}
.toright{
    position: absolute;
    top:0;
    bottom: 0;
    margin: auto;
    right: 0;
    width: 30px;
    height: 60px;
    background: #000;
    opacity: 0.4;
    text-align: center;
    line-height: 60px;
}
.toright:hover{
    opacity: 0.6;
}
.select-circle{
    width: 150px;
    position: absolute;
    margin: auto;
    bottom: 10px;
    left:0;
    right: 0;
}
.select-circle li{
    width: 20px;
    height: 20px;
    background: #3E3E3E;
    border-radius: 50%;
    margin-left: 5px;
    line-height: 20px;
    text-align: center;
    color: white;
    float: left;
    cursor: pointer;
}
.select-circle .active{
    background-color: #B61B1F;
}
.more{
    width: 250px;
    height: 454px;
    border: 1px solid #E4E4E4;
}

.more .more-new{
    width: 250px;
    height: 46px;
    border-bottom: 1px dashed #E4E4E4;
    line-height: 46px;
}
.more-new a:first-child{
    margin-left: 15px;
}
.more-new a:last-child{
    margin-right: 15px;
}
.more-new a:last-child i{
    font-size: 12px;
}
.more .more-sale{
    width: 250px;
    height: 148px;
    border-bottom: 1px dashed #E4E4E4;
    padding-top: 10px;
}
.more-sale li{
    height: 30px;
    margin-left: 15px;
}
.more .more-service{
    width: 250px;
    height: 44px;
    line-height: 44px;
    padding-left: 15px;
}
.more .more-pic{
    width: 250px;
    border: 1px solid #E4E4E4;
}
.more-pic i{
    position: absolute;
    top: 10px;
    left: 18px;
    color: red;
    font-size: 25px;
}
.more-pic label{
    font-size: 13px;
    color: black;
}
.more-pic td{
    width: 65px;
    height: 48px;
    border: 1px solid #E4E4E4;
    position: relative;
}
