/* reset */
body,
div,
p,
ul,
li,
table,
tbody,
tr,
td,
textarea,
form,
input,
h1,
h2,
h3,
h4,
h5,
dl,
dt,
dd,
img,
iframe,
header,
nav,
section,
article,
footer,
figure,
figcaption,
menu {
  margin: 0;
  padding: 0;
  list-style: none;
}
body {
  -webkit-text-size-adjust: none;
  font-size: 12px;
}
header,
nav,
section,
article,
footer,
figure,
figcaption {
  display: block;
}
ol,
ul {
  margin: 0;
  padding: 0;
}
fieldset {
  border: none;
  margin: 0;
  padding: 0;
}
a,
li,
ul,
[onclick] {
  -webkit-tap-highlight-color: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
em,
strong {
  font-weight: normal;
  font-style: normal;
}
a {
  text-decoration: none;
}
.hide {
  display: none;
}
.c:before,
.c:after {
  content: "";
  display: table;
}
.c:after {
  clear: both;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
.pr {
  position: relative;
}
.pa {
  position: absolute;
}
.db {
  display: block;
  text-indent: -999em;
}
img {
  display: block;
}
body,
html {
  background-color: #000000;
}
header,
footer {
  width: 320px;
  margin: 0 auto;
}
footer {
  width: 320px;
  height: 36px;
  line-height: 36px;
  letter-spacing: -1px;
  color: #d5daea;
  text-align: center;
}
.sp,
.nav .cur a,
.tit em,
.tit a,
.pages a {
  background: url("../img/sp.png") no-repeat;
  -webkit-background-size: 214px 181px;
  background-size: 214px 181px;
}
.wrap {
  background: url("../img/tyf.jpg") no-repeat 50% 0;
  background-size: 320px 2156px;
}
/*top*/
.top-con {
  width: 288px;
  height: 40px;
  background-color: #150e11;
  padding: 8px 16px 7px;
}
.logo {
  width: 40px;
  height: 40px;
  float: left;
}
.tmemo {
  float: left;
  width: 140px;
  padding-left: 6px;
  color: #ffffff;
  line-height: 20px;
}
.tmemo strong {
  display: block;
  font-size: 15px;
  font-weight: bold;
}
.download {
  width: 71px;
  height: 25px;
  background-position: -107px 0;
  float: right;
  margin-top: 7px;
}
.nav {
  width: 320px;
  height: 48px;
  background-color: #13151c;
  padding-top: 1px;
  border-bottom: 1px solid #32417d;
}
.nav li {
  float: left;
  width: 78px;
  height: 48px;
  margin-right: 1px;
  border-right: 1px solid #2e3859;
}
.nav .mr0 {
  margin-right: 0;
}
.nav a {
  display: block;
  width: 78px;
  height: 48px;
  background-color: #222940;
  text-align: center;
  line-height: 48px;
  color: #ffffff;
}
.nav .cur a {
  background-position: 0 0;
}
/*专区说明*/
.banner {
  width: 320px;
  height: 383px;
}
.container,
.ct {
  width: 300px;
  margin: 0 auto;
}
.tit {
  width: 286px;
  height: 22px;
  background-color: #0a4d92;
  padding: 0 7px;
}
.tit h3 {
  float: left;
  width: 200px;
  text-indent: 4px;
  font-size: 13px;
  font-weight: bold;
  color: #e2f0ff;
  text-shadow: 3px 3px #083c72;
  line-height: 22px;
}
.tit em {
  float: left;
  display: inline-block;
  width: 17px;
  height: 19px;
  margin-top: 2px;
}
.tit .t1 {
  background-position: -196px 0;
}
.tit a {
  display: block;
  text-indent: -999em;
  width: 30px;
  height: 6px;
  background-position: -107px -36px;
  float: right;
  margin-top: 9px;
}
.ct-con,
.ct-con1 {
  width: 290px;
  padding: 8px 5px;
}
.ct-con {
  background: rgba(6, 19, 39, 0.6);
}
.ct-con1 {
  background: rgba(10, 27, 49, 0.8);
}
.news-list {
  width: 290px;
}
.news-list li {
  float: left;
  width: 100%;
  line-height: 24px;
  border-bottom: 1px dashed #4b505a;
}
.news-list a {
  display: block;
  width: 232px;
  float: left;
  color: #ffffff;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.news-list span {
  float: right;
  color: #ffffff;
}
.mat16 {
  margin-top: 16px;
}
.tit .t2 {
  background-position: -196px -22px;
}
.ct-memo {
  color: #ffffff;
  line-height: 18px;
}
.ct-memo em {
  color: #ffcd97;
}
.feedback {
  width: 288px;
  background-color: #0d437c;
  border: 1px solid #1360b1;
  padding: 10px 5px;
}
.sq-list {
  width: 184px;
}
.sq-list li {
  float: left;
  color: #ffffff;
  line-height: 16px;
}
.btn-sq,
.btn-submit {
  display: block;
  width: 100px;
  height: 27px;
  background-position: 0 -52px;
  text-align: center;
  line-height: 25px;
  color: #402a04;
  font-weight: bold;
  margin-top: 24px;
}
.btn-sq {
  float: right;
}
.btn-submit {
  margin: 13px auto 6px;
  border: none;
  font-weight: bold;
}
.mat32 {
  margin-top: 32px;
}
.tit .t3 {
  background-position: -196px -44px;
}
.usercode,
.userlist {
  width: 290px;
}
.usercode dt,
.usercode dd {
  width: 100%;
}
.usercode dt {
  color: #ffffff;
  font-weight: bold;
}
.usercode dd {
  color: #cececf;
  line-height: 16px;
  padding: 5px 0 12px;
}
.userlist li {
  float: left;
  width: 100%;
  color: #cececf;
  line-height: 16px;
}
.userlist em {
  float: left;
  width: 16px;
}
.userlist p {
  padding-left: 16px;
}
/*申请资格*/
.timebox {
  width: 298px;
  background-color: #243c6c;
  border: 1px solid #2a4f8e;
  margin: 12px auto;
  border-radius: 5px;
  color: #ffffff;
  line-height: 16px;
  text-align: center;
  padding: 5px 0;
}
.tit .t4 {
  background-position: -196px -66px;
}
.apply-list {
  width: 300px;
}
.apply-list li {
  float: left;
  width: 100%;
  padding-top: 6px;
}
.apply-list label {
  float: left;
  width: 132px;
  color: #ffffff;
  text-align: right;
  padding-right: 4px;
}
.styled-select {
  width: 150px;
  height: 20px;
  float: left;
  position: relative;
}
.styled-select select {
  background: #353954;
  border-radius: 5px;
  width: 148px;
  color: #a4adbd;
  line-height: 16px;
  font-size: 12px;
  border: 1px solid #3f61a2;
  height: 18px;
  -webkit-appearance: none;
}
.arrow {
  width: 0;
  height: 0;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 6px solid #3090f3;
  position: absolute;
  top: 7px;
  right: 5px;
}
.input-cs {
  width: 148px;
  height: 18px;
  background: #353954;
  border: 1px solid #3f61a2;
  border-radius: 5px;
  color: #a4adbd;
  text-indent: 5px;
}
.mat22 {
  margin-top: 22px;
}
.tit .t5 {
  background-position: -196px -90px;
}
.term {
  width: 290px;
  padding: 8px 0;
}
.term em {
  float: left;
  width: 8px;
  height: 2px;
  background-color: #326bc6;
  margin: 9px 0 0 2px;
}
.term p {
  padding-left: 18px;
  color: #cad3e7;
  line-height: 20px;
}
.tit1 {
  width: 300px;
  padding: 16px 0;
  background-color: #0a4d92;
  text-align: center;
  color: #edf1f6;
  text-shadow: 3px 3px #083c72;
  font-weight: bold;
}
.ico {
  display: block;
  position: absolute;
  width: 12px;
  height: 2px;
  background-color: #d9194f;
  box-shadow: 3px 3px #07396d;
  left: 50%;
  margin-left: -6px;
  top: 9px;
}
.ct-grab {
  width: 300px;
  height: 147px;
  background: url("../img/grab.jpg") no-repeat;
  background-size: 300px 147px;
}
.grab-memo {
  width: 100%;
  color: #ffffff;
  text-align: center;
  height: 29px;
  line-height: 29px;
}
.grab-memo a {
  color: #f9c668;
}
.grab-list {
  width: 300px;
}
/*.grab-list li{float: left;width: 49px;height: 118px; margin: 0 5px;}
.grab-list li p{color: #bacced; padding-top: 96px;}*/
.grab-list li {
  float: left;
  width: 60px;
  height: 118px;
}
.grab-list li p {
  color: #bacced;
  padding-top: 96px;
  text-align: center;
  font-size: 10px;
  letter-spacing: -1px;
}
.grab-info {
  width: 290px;
  background: url("../img/app-bg.jpg") repeat;
  background-size: 26px 19px;
  padding: 10px 5px;
}
.tit2 {
  width: 300px;
  color: #edf1f6;
  text-shadow: 3px 3px #1e2f51;
  font-weight: bold;
  background-position: -196px -44px;
  text-indent: 20px;
  line-height: 20px;
}
.info-list {
  width: 290px;
  padding: 10px 0;
}
.info-list li {
  float: left;
  width: 100%;
  color: #d5dce5;
  line-height: 16px;
}
.info-list em {
  float: left;
  width: 12px;
}
.info-list p {
  padding-left: 15px;
}
/*登录*/
.login {
  width: 100%;
  padding-top: 20px;
  text-align: center;
  color: #ffffff;
}
.login a {
  color: #e6b14a;
}
.pop {
  width: 244px;
  background-color: #0a4d92;
  border: 1px solid #4981bb;
  padding: 12px;
  transition: all 0.5s ease;
  transform: scale(0, 0);
  display: none;
  transform-origin: center 0px 0px;
  position: fixed;
  left: 50%;
  top: 50%;
  z-index: 999;
  margin-left: -135px;
  margin-top: -88.5px;
}
.login-list {
  width: 244px;
}
.login-list a {
  display: block;
  width: 160px;
  height: 52px;
  margin: 0 auto;
  background: url(//game.gtimg.cn/images/yxzj/cp/a20161116tyf/icon.png) no-repeat 999em 999em;
  background-size: 326px 118px;
}
.login-list .on .lit2 {
  background-position: -167px -66px;
}
.login-list .on .lit1 {
  background-position: -167px 0;
}
.login-list li {
  width: 100%;
  height: 52px;
  float: left;
  overflow: hidden;
  margin-top: 13px;
}
.ptit {
  width: 100%;
  font-size: 16px;
  color: #e8edf5;
  font-weight: bold;
  text-align: center;
}
.pclose {
  display: block;
  width: 20px;
  height: 20px;
  font-size: 20px;
  color: #ffffff;
  position: absolute;
  right: 10px;
  top: 10px;
}
.pop_close {
  display: block;
  position: absolute;
  width: 12px;
  height: 12px;
  background-position: -148px -99px;
  top: 5px;
  right: 5px;
}
.down_con {
  padding: 32px 0 0 0;
  width: 464px;
  margin: 0 auto;
}
.code {
  width: 207px;
}
.code_text {
  font-size: 16px;
  color: #ffffff;
  text-align: center;
  line-height: 11px;
  padding-top: 11px;
}
.andr {
  display: block;
  width: 218px;
  height: 70px;
  background-position: -8px -365px;
  font-size: 20px;
  color: #d4e7fe;
  text-indent: 72px;
  line-height: 70px;
  margin-top: 67px;
}
.login_tit {
  font-size: 20px;
  color: #ffffff;
  font-weight: bold;
  line-height: 1;
  padding-top: 35px;
  text-align: center;
}
.login_put {
  width: 70%;
  padding-top: 27px;
  margin: 0 auto;
}
.login_put a {
  font-size: 14px;
  width: 109px;
  height: 35px;
  color: #fefefe;
  line-height: 35px;
}
.login_put .btn_qq {
  background-position: -6px -223px;
  text-indent: 34px;
}
.login_put .btn_wx {
  background-position: -122px -223px;
  text-indent: 37px;
}
.mask {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 0;
  transition: height 0.5s ease;
  background: rgba(0, 0, 0, 0.7);
}
