<!--
/*
 * @Author: 
 * @Date: 
 * @Last Modified by: 
 * @Last Modified : 
 */
-->
/*comm*/
body{background-color:#f7f3f5;}
.head{width: 1583px;height: 216px;margin: 0 auto}
.footwrap{width: 1582px;background-color: #121212;margin: 0 auto}
.img img{width: 100%}
input{width: 35px;
    font-size: 14px;
    line-height: 30px;
    color: #333;
    text-align: center;
    outline: none;
    display: inline-block;
    vertical-align: top;
    zoom: 1;
    border: 1px solid #ddd;}
p{display: inline-block}
.p1{
    float: left;
    width: 86px;}
.p2{ float: left;
    width: 150px;}
.p3{ float: left;
    width: 280px;}
.p4{ float: left;
    width: 160px;}
.p5{ float: left;
    width: 142px;}
.p6{
    float: left;
    width: 118px;
    margin-right: 80px;
    text-align: center;}
.p7{ float: left;
    width: 140px;}
.p8{ float: left;
    width: 120px;}
.div1{    line-height: 86px;}
span{    width: 24px;
    height: 24px;
    line-height: 24px;
    background: #fafafa;
    border: 1px solid #ddd;
    margin: 0 26px 0 30px;
    display: inline-block;
    vertical-align: middle;
    zoom: 1;
    cursor: pointer;
    position: relative;}
.img{    width: 113px;
    height: 113px;
    overflow: hidden;
    border: 1px solid #ddd;
    position: relative;
    z-index: 1;}
s{display: block;
    font-weight: normal;
    text-decoration: line-through;}
.item{
    height: 117px;
    background: #fff;
    margin: 10px 0;
}
.add,.sub{    width: 30px;
    height: 30px;
    font-size: 26px;
    line-height: 30px;
    color: #666;
    display: inline-block;
    vertical-align: top;
    zoom: 1;
    border: 1px solid #ddd;
    text-align: center;
    cursor: pointer;
margin: 0}
.div3{margin-top: 20px}
.div3-span{
    font-size: 12px;
    display: inline-block;
    color: #f74a4a;
    border: 1px solid #f599a0;
    border-radius: 3px;
    padding: 0 4px;
    margin-right: 10px;
    line-height: 22px;
    width: 90px;
    vertical-align: top;
    zoom: 1;}
.div5-p{
    font-weight: bold;
    margin-top: 5px;
}
.div8 a{color: #333;
    display: block;}
.mainwrap{
    width: 1280px;
    /*height: 1000px;*/
    margin: 0 auto;
}
.wrap{
    width: 1280px;
    /*height: 1000px;*/
    margin: 0 auto;
}
.price{    font-size: 16px;
    font-weight: bold;
    margin-top: 10px;}
.p3 a:hover{
    color: crimson;
    border-bottom: 1px solid crimson;
}
.div8 a:hover{
    color: crimson;
}

/*==carwrap==*/
.carwrap{

}
/*==car-th==*/
.car-th{
    font-size: 16px;
    line-height: 56px;
    height: 56px;
    padding: 15px 0;
    background: #fff;
    margin:0 0 50px 0;
}
/*==car-box==*/
.car-box{width: 1280px;
    /*height: 419px;*/
}
.p3 p,.p4 p,.p5 p,.p6 div,.p7 p,.p8 div{margin: 20px 0 0 5px;}
/*==factory==*/
.factory{    font-size: 16px;
    line-height: 26px;
    padding: 25px 0 15px;
background: #fff;
    margin: 50px 0 5px 0;}

/*==car-tb==*/
.car-tb{
    position: relative;
    width: 1280px;
    height: 72px;
    background: #fff;

}
.car-tb a{
    float: right;
    display: block;
    width: 150px;
    height: 72px;
    line-height: 72px;
    font-size: 18px;
    color: white;
    text-align: center;
    background: #fe5268;
}
.car-tbinf{
    float:right;
    /*width: 203px;*/
    height: 72px;
    font-size: 14px;
    margin: 10px 28px 0  0;
}
.sle-txt ,.all-txt{
    color: #fe5268;
    font-size: 20px;
}
.car-tbinf  p{
    display: block;
    text-align: right;
}
.car-tbinf p:last-child{
    color: gray;
}
/*============复选点击类*/
.i-check{
    width: 16px;
    height: 12px;
    background: url(../img/ico-cart.png) no-repeat;
    background-position: -2px -72px;
    position: absolute;
    top: 6px;
    left: 4px;
    display: none;  /* 没选中为none；选中为block*/
}
.i-checked{
    display: block;
}
.span-check{
    background: red;     /*选中调用类*/
}
.span-no{
    background: #fafafa;
}
/*----null-car------*/
.null-car{
    height: 415px;
    border-top: 1px dashed #e3e3e3;
    margin-top: 18px;
    display: none;/*购物车空的时候显示*/
}
.null-car h{
    text-align: center;
    display: block;
    margin: 0 auto;
    padding-top: 38px;
    font-size: 32px;
    color: #3a3f4a;
    font-weight: bold;
    height: 32px;
    line-height: 30px;
}
.null-car h a{
    color:#ff7a7a;
}
.null-car h a:hover{
    text-decoration:underline;
}
/*rec*/
.rec h{
    text-align: center;
    display: block;
    margin: 0 auto;
    padding-top: 38px;
    font-size: 24px;
    color: #3a3f4a;
    font-weight: bold;
    height: 32px;
    line-height: 30px;
    border-top: 1px dashed #e3e3e3;

}
/*-----carousel-----*/
.wrap-all{
    width: 100%;
}
.carousel{
    position: relative;
    width: 984px;
    height: 307px;
    overflow: hidden;
    margin: 10px 0;
}
.carousel:hover   .arrow{
visibility: visible;
}
 .carouselUl{
    position: absolute;
    /*width: 200%;*/
}
.carouselUl li{
    float: left;
}

.carouselUl li  img:hover{
    cursor: pointer;
    border: 1px solid red;
}

.arrow{
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 50%;
    visibility: hidden;
}
.arrow li{
    list-style: none;
    width: 35px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    font-size: 30px;
    background: rgba(0,0,0,.2);
    cursor: pointer;
}
.left{float: left;}
.right{float: right; }