.warp {
  width: 100%;
  height: 100%;
  background-color: #f5f5f5;
  overflow-x: hidden;
  /*seach-warp end*/
  /*bigv-act*/
  /*carousel*/
  /*人气作品*/
}
.warp .search-warp {
  width: 100%;
  height: 0.8rem;
  position: fixed;
  top: 0;
  background-color: #080e16;
}
.warp .search-warp .icon-search {
  display: block;
  background: url("../img/spr.png") no-repeat 0 0;
  width: 0.3rem;
  height: 0.3rem;
  position: absolute;
  top: 0.28rem;
  left: 1.9rem;
}
.warp .search-warp p {
  font-size: 0.3rem;
  text-align: center;
  color: #fff;
  padding: 0.1rem;
  margin: 0.1rem;
  border: 1px solid #273a4a;
}
.warp .bigv-act {
  width: 100%;
  margin-left: 0.1rem;
  margin-top: 0.85rem;
  height: 0.6rem;
  line-height: 0.6rem;
  position: relative;
}
.warp .bigv-act .bigv-title {
  display: inline-block;
  font-size: 0.3rem;
  font-weight: bold;
  color: #fff;
  background-color: #14222d;
  position: absolute;
}
.warp .bigv-act .bigv-con {
  width: 5.9rem;
  overflow: hidden;
}
.warp .bigv-act .bigv-con span {
  font-size: 0.26rem;
  float: left;
}
.warp .bigv-act .bigv-con span.bigv-name {
  color: #7ba1c2;
}
.warp .bigv-act .bigv-con span.bigv-work {
  color: #7ba1c2;
}
.warp .bigv-act .bigv-pic {
  position: absolute;
  right: 0.2rem;
  top: 0;
}
.warp .bigv-act .bigv-pic img {
  width: 0.5rem;
  height: 0.5rem;
}
.warp .carousel {
  height: 100%;
  padding: 0.1rem 0;
  margin: 0 0.1rem;
  box-sizing: border-box;
}
.warp .carousel .carousel-left {
  height: 100%;
  width: 70%;
}
.warp .carousel .carousel-right {
  height: 100%;
  width: 27%;
}
.warp .carousel .carousel-right img:first-child {
  margin-bottom: 0.22rem;
}
.warp .penl {
  height: 100%;
  box-sizing: border-box;
  padding: 0.1rem 0;
  margin: 0 0.1rem;
}
.warp .penl .penl-top {
  height: 0.4rem;
}
.warp .penl .penl-top .penl-title {
  float: left;
  width: 1.4rem;
  height: 0.28rem;
  background: url("../img/spr.png") no-repeat -2.7rem 0;
  background-size: 7.5rem;
}
.warp .penl .penl-top .penl-time {
  font-size: 0.26rem;
}
.warp .penl .penl-top .penl-time .penl-day {
  border-radius: 0.05rem;
  border: 1px solid #959595;
  color: #959595;
  padding: 0.02rem 0.3rem;
  margin-right: 0.1rem;
}
.warp .penl .penl-top .penl-time .penl-day.current {
  color: #857c28;
  border: 1px solid #908224;
  background-color: #131f2a;
}
.warp .penl .penl-mag {
  background: rgba(25, 35, 49, 0.74);
  box-shadow: 0 0.01rem 0.01rem #000;
}
.warp .penl .penl-mag .mag-mou {
  padding: 0 0.2rem;
  margin-top: 0.2rem;
}
.warp .penl .penl-mag .mag-mou ul li {
  height: 0.6rem;
  line-height: 0.5rem;
  border-bottom: 1px solid #273a4a;
  font-size: 0.3rem;
}
.warp .penl .penl-mag .mag-mou ul li span {
  color: #9eb1d5;
}
.warp .penl .penl-mag .mag-mou ul li span.mag-title {
  border: 1px solid #304864;
  border-radius: 0.02rem;
  background: #26374b;
  font-size: 0.25rem;
  padding: 0.03rem;
}
.warp .penl .penl-mag .mag-mou ul li span.mag-con {
  margin-left: 0.1rem;
}
.warp .penl .penl-mag .mag-mou ul li span.mag-men {
  font-size: 0.2rem;
}
.warp .penl .penl-top .penl-title:last-child {
  background-position: -4.24rem 0;
}
.warp .penl .penl-mag ul li {
  height: 1rem;
  border-bottom: 1px solid #273a4a;
  padding: 0.25rem;
  font-size: 0.3rem;
  position: relative;
}
.warp .penl .penl-mag ul li img {
  float: left;
  height: 1.02rem;
  width: 1.33rem;
  margin-right: 0.2rem;
}
.warp .penl .penl-mag ul li .cont h1 {
  color: #fff;
}
.warp .penl .penl-mag ul li .cont p {
  color: #7ea3b7;
}
.warp .penl .penl-mag ul li .cont span {
  font-size: 0.22rem;
  color: #3b4e5d;
}
.warp .penl .penl-mag ul li .mag-ex {
  position: absolute;
  top: 0.25rem;
  right: 0.25rem;
}
