/* 第一屏动画 */
.screen-1__title{
	transition: all 1s;
}
.screen-1__phone,
.screen-1__shadow{
	transition: all 1s .5s;
}

.screen-1__title_animate_init,
.screen-1__phone_animate_init{
	opacity: 0;
	transform: translate(0,-100%);
}

.screen-1__shadow_animate_init{
	opacity: 0;
	transform: translate(0,100%);
}

.screen-1__title_animate_down,
.screen-1__phone_animate_down,
.screen-1__shadow_animate_down{
	opacity: 1;
	transform: translate(0,0);
}

/* 第二屏动画 */
.screen-2__title,
.screen-2__subtitle{
	transition: all 1s;
}
.screen-2__phone{
	transition: all 1s .5s;
}

.screen-2__subtitle_animate_init{
	opacity: 0;
	transform: translate(0,100%);
}

.screen-2__phone_animate_init{
	opacity: 0;
	transform: translate(0,50%);
}

.screen-2__title_animate_init{
	opacity: 0;
	transform: translate(0,-100%);
}

.screen-2__title_animate_down,
.screen-2__phone_animate_down,
.screen-2__subtitle_animate_down{
	opacity: 1;
	transform: translate(0,0);
}

.screen-2__point_i_1{
	transition: all 1s 1s;
}

.screen-2__point_i_2{
	transition: all 1s 1.5s;
}

.screen-2__point_i_3{
	transition: all 1s 2s;
}

.screen-2__point_i_1_animate_init{
	opacity: 0;
	transform: translate(-100%,0);
}

.screen-2__point_i_2_animate_init,
.screen-2__point_i_3_animate_init{
	opacity: 0;
	transform: translate(100%,0);
}

.screen-2__point_i_1_animate_down,
.screen-2__point_i_2_animate_down,
.screen-2__point_i_3_animate_down{
	opacity: 1;
	transform: translate(0,0);
}

/* 第三屏动画 */
.screen-3__title,
.screen-3__subtitle{
	transition: all 1s;
}
.screen-3__features{
	transition: all 1s 1s;
}
.screen-3__phone{
	transition: all 1s .5s;
}

.screen-3__subtitle_animate_init{
	opacity: 0;
	transform: translate(0,100%);
}

.screen-3__phone_animate_init{
	opacity: 0;
	transform: translate(0,50%);
}

.screen-3__title_animate_init{
	opacity: 0;
	transform: translate(0,-100%);
}

.screen-3__title_animate_down,
.screen-3__phone_animate_down,
.screen-3__subtitle_animate_down{
	opacity: 1;
	transform: translate(0,0);
}

.screen-3__features_animate_init{
	transform: scale(.5);
	opacity: 0;
}

.screen-3__features_animate_down{
	transform: scale(1);
	opacity: 1;
}

.screen-3__features__item{
	transition: all .5s;
	cursor: pointer;
}

.screen-3__features__item:hover{
	transform: scale(1.1);
	border-color: #fff;
}

/* 第四屏动画 */
.screen-4__title,
.screen-4__subtitle{
	transition: all 1s;
}

.screen-4__subtitle_animate_init{
	opacity: 0;
	transform: translate(0,100%);
}

.screen-4__title_animate_init{
	opacity: 0;
	transform: translate(0,-100%);
}

.screen-4__title_animate_down,
.screen-4__subtitle_animate_down{
	opacity: 1;
	transform: translate(0,0);
}

.screen-4__phone__item_i_1{
	transition: all .5s .5s;
}
.screen-4__phone__item_i_2{
	transition: all .5s .7s;
}
.screen-4__phone__item_i_3{
	transition: all .5s .9s;
}
.screen-4__phone__item_i_4{
	transition: all .5s 1.1s;
}

.screen-4__phone__item_i_1_animate_init,
.screen-4__phone__item_i_2_animate_init,
.screen-4__phone__item_i_3_animate_init,
.screen-4__phone__item_i_4_animate_init{
	opacity: 0;
	transform: translate(0,100%);
}

.screen-4__phone__item_i_1_animate_down,
.screen-4__phone__item_i_2_animate_down,
.screen-4__phone__item_i_3_animate_down,
.screen-4__phone__item_i_4_animate_down{
	opacity: 1;
	transform: translate(0,0);
}

/* 第五屏动画 */
.screen-5__title,
.screen-5__subtitle{
	transition: all 1s;
}
.screen-5__phone{
	transition: all 1s .5s;
}

.screen-5__subtitle_animate_init{
	opacity: 0;
	transform: translate(0,100%);
}

.screen-5__phone_animate_init{
	opacity: 0;
	transform: scale(.8);
}

.screen-5__title_animate_init{
	opacity: 0;
	transform: translate(0,-100%);
}

.screen-5__title_animate_down,
.screen-5__phone_animate_down,
.screen-5__subtitle_animate_down{
	opacity: 1;
	transform: translate(0,0),scale(1);
}

/* 第六屏 */
.screen-6__btn{
	transition: all .5s;
}

.screen-6__btn:hover{
	transform: translate(0, -10%);
	box-shadow: 0 0 5px #fff;
}

/* screen-2__point 帧动画 */
@-webkit-keyframes bounce{
	0%,100%{transform: scale(0);}
	50%{transform: scale(1);}
}

@keyframes bounce{
	0%,100%{transform: scale(0);}
	50%{transform: scale(1);}
}

.screen-2__point:before,
.screen-2__point:after{
	content: '';
	display: block;
	width: 20px;
	height: 20px;
	background-color: rgba(255, 0, 0, .3);
	border-radius: 50%;
	position: absolute;
	left: 0;
	top: 2px;
	animation: bounce 2s infinite;
}

.screen-2__point:after{
	animation: bounce 2s infinite 1s;
}

.screen-2__point_i_1:before,
.screen-2__point_i_1:after{
	left: auto;
	right: 0;
}

/* screen-3__features__item-num 帧动画 */
@-webkit-keyframes rotater{
	0%{transform: rotate(-3deg);}
	10%{transform: rotate(3deg);}
	20%{transform: rotate(-3deg);}
	30%{transform: rotate(2deg);}
	40%{transform: rotate(-2deg);}
	50%{transform: rotate(1deg);}
	60%{transform: rotate(-1deg);}
	70%{transform: rotate(0deg);}
	100%{transform: rotate(0deg);}
}

@keyframes rotater{
	0%{transform: rotate(-3deg);}
	10%{transform: rotate(3deg);}
	20%{transform: rotate(-3deg);}
	30%{transform: rotate(2deg);}
	40%{transform: rotate(-2deg);}
	50%{transform: rotate(1deg);}
	60%{transform: rotate(-1deg);}
	70%{transform: rotate(0deg);}
	100%{transform: rotate(0deg);}
}

.screen-3__features__item-num:hover{
	animation: rotater 2s infinite;
}

/* 侧栏导航条 */
.sidenav_animate_init{
	opacity: 0;
	transform: translate(100%, 0);
}

.sidenav_animate_done{
	opacity: 1;
	transform: translate(0, 0);
}

/* 头部导航半透明 */
.header{
	transition: all .5s;
}

.header_status_scroll{
	background-color: rgba(0, 0, 0, .4);
}

.header_status_scroll .header__logo{
	color: #fff;
}

.header_status_scroll .header__nav-item{
	color: #fff;
}
.header_status_scroll .header__nav-item_status_active{
	color: #f01400;
}

/* 头部导航滑动门 */
.header__underline{
	transition: left .5s;
}