h1,h2,h3,h4{
    font-size: 12px;
}
h4,p{
    margin: 0;
}
.download-App ul li>a{
    display: block;
    float: left;
    width: 71px;
    height: 62px;
    background: url("../img/app/V.png") center;
}
.download-App ul li div{
    float: left;
    width: 190px;
    height: 64px;
    margin-left: 5px;
}
.download-App ul li h4{
    width: 190px;
    height: 16px;
}
.download-App ul li p{
    width: 190px;
    height: 16px;
}
.startimg{
    display: inline-block;
    width: 60px;
    height: 15px;
    background: url("../img/app/start.png") ;
}
.exe{
    line-height: 22px;
    width: 50px;
    height: 22px;
    border: 1px solid #129BE8;
    float: right;
    text-align: center;
}
.num{
    color: #FF9400;
}
/*----------------sort------------*/
.sort{
    margin-top: 50px;
}
.sort p,.sort span{
    float: left;
}
.sort h2>a{
    float: right;
}
/*--------------rec----------------*/
.rec{
    margin-bottom: 50px;
    border: 1px solid;
}
.recl{
    float: left;
    width: 698px;
}
.recimg{
 display: block;
    float: left;
    background: url("../img/app/rec.png");
    width: 75px;
    height: 75px;
}
.recl ul>li{
    float: left;
    width: 224px;
}
.recl ul li>div{
    float: left;
}
.rec h2>a{
    float: right;
}
.recr{
    float: left;
    width: 300px;
}
/*-----------recr---------------*/
.recr em{
    display: block;
    float: left;
    width: 16px;
    height: 16px;
}
.recrimg{
    display: block;
    float: left;
    background: url("../img/app/recr.png");
    width: 75px;
    height: 75px;
}
.recr .con-word{
    float: left;
    width: 165px;
}
.imga{
    display: inline-block;
    float: left;
    background: url("../img/app/chiji.png") center;
    background-size: cover;
    width: 40px;
    height: 40px;
}
/*-----------list----------------*/
.list{
    border: 1px solid;
}
.list-con ul{
    float: left;
}
.li-con p{
    float: left;
}
.li-con span{
    float: left;
}

