.download-App h4 {
    margin-top: 9px;
    margin-bottom: 0;
    height: 30px;
    width: 270px;
    background: url(../img/logo.png) 0 -100px no-repeat;
    font-weight: normal;
    line-height: 30px;
    padding: 9px 0 0;
    overflow: hidden;
    zoom: 1;
}


.download-App h4 a {
    float: right;
    text-align: right;
    color: #707070;
}

.download-App h4 span {
    float: right;
    color: #707070;
    padding: 0 5px;
}

.download-App ul {
    padding: 10px 0 0;
    /*去除inline-block元素间的间隙*/
    font-size: 0;
    letter-spacing: -3px;
}

.download-App ul li {
    height: 86px;
    padding: 0 0 10px;
}

.download-App li .PrisonBreakBannerRL {
    padding-right: 10px;
}
.index-partner {
    margin-top: 50px;
}
/*-------------2017.12.18 start---------------*/
/*-----------tech-list------------------*/
.hot-section a{
line-height:2em;
}
p{
    margin: 0px;
}
.hot-section{
    height:auto;
}
.hot-section,h2{
    font-size: 12px;/*reset size*/
    font-weight: normal;
    letter-spacing: normal;
}
.tech-list{
    width: 695px;

}
.con-ul li{
    float: left;
}
.li-l{
    width: 300px;
  float: left;
}
.li-r{

    width: 365px;
    float: left;
}
.li-l img{
    width: 300px;
    height: 175px;
}
.li-b{
    height: 47px;
    float: right;
    position: relative;
    width: 335px;
}
.li-b a{
    display: inline-block;
    width: 22px;
    height: 22px;
}
.li-b p{
    position: absolute;
    float: left;
    bottom: 0px;

}
.li-b-r{
    position: absolute;

    bottom: 0px;
   right: 0;
    float: right;
}
.tencentweibo{
background: url("../img/icon.png") 0 -650px no-repeat;
}
.tecentqz{
    background: url("../img/icon.png") 0 -700px no-repeat;

}
.sinaweibo{
    background: url("../img/icon.png") 0 -750px no-repeat;

}
.commonpage{
    line-height: 30px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 75px;
}
.commonpage a{
    display: inline-block;
    width: 30px;
    height: 30px;
    border: 1px solid;
}
/*---------top8---------------------*/
.top8{
    border: 1px solid;
    position: absolute;
    width: 290px;
    top: 250px;
    right: 0px;
    height: 300px;
}
/*-----------yueyu---------------------*/
.tab{
    position: absolute;
    top: 570px;
    right: 0px;
}
.yueyu{
    width: 290px;
    height: 201px;
}
.yueyu a{
    display: block;
    width: 128px;
    height: 30px;
    float: left;
}