html,body{
	height: 100%;
}

body{
	margin: 0;
}

ul{
	margin-top: 0;
	margin-bottom: 0;
	padding-left: 0;
	list-style-type: none;
}
dd{
	margin-left: 1px;
}
a{
	text-decoration: none;
}
a,a:hover{ text-decoration:none; cursor:pointer;}
a:hover{ color:#129be8;}
/*清除浮动*/
.clearfix:after{content:"";display:block;clear:both;}
.clearfix{*zoom:1;/*IE/6/7/*/}



