
/*--------------2017.12.16 continue------*/
.download-App h4 {
    margin-top: 9px;
    margin-bottom: 0;
    height: 30px;
    width: 270px;
    background: url(../img/logo.png) 0 -100px no-repeat;
    font-weight: normal;
    line-height: 30px;
    padding: 9px 0 0;
    overflow: hidden;
    zoom: 1;
}


.download-App h4 a {
    float: right;
    text-align: right;
    color: #707070;
}

.download-App h4 span {
    float: right;
    color: #707070;
    padding: 0 5px;
}

.download-App ul {
    padding: 10px 0 0;
    /*去除inline-block元素间的间隙*/
    font-size: 0;
    letter-spacing: -3px;
}

.download-App ul li {
    height: 86px;
    padding: 0 0 10px;
}

.download-App li .PrisonBreakBannerRL {
    padding-right: 10px;
}


/*-------------today-news--------------------*/
.today-news {
    width: 1000px;
    margin: 0 auto;
    margin-top: 50px;
}

.today-news-l {
    float: left;
    border: 1px solid #efefef;
    width: 700px;
    height: 403px;
}

.today-news-l h {
    display: block;
    width: 700px;
    height: 39px;
}

.to-span {
    float: left;
    border-left: 4px solid #3f75c5;
    text-indent: 1em;
}

.to-bg {
    line-height: 39px;

    background-color: #FBFBFB;
  
}

.to-more {
    float: right;
    margin-top: 5px;
    color: #5EC6F5;
}

.today-news-ll {
    float: left;
}

.today-news-ll h4,
.today-news-lr h4 {
    color: #3b3b3b;
    height: 43px;
    line-height: 43px;
    font-size: 14px;
    font-weight: normal;
    text-indent: 1em;
}

.today-news-ll a {
    display: block;
    width: 248px;
    height: 288px;
    margin-left: 13px;
    margin-top: -15px;
}

.today-news-lr {
    float: left;
    width: 410px;
}

.today-news-lr h4 {
    text-align: center;
    display: inline-block;
    width: 410px;
    display: inline-block;
}
.today-news-lr h4 a{
font-size: 18px;
color: #3b3b3b;
}

.today-news-lr dd {
    margin-left: 4px;
    float: left;
    font-size: 12px;
    width: 410px;
    border-bottom: 1px dashed #c5c5c5;
    
    padding-bottom: 20px;

}
.today-news-lr dd a{
    line-height: 2em;
}
.today-news-lr ul{
    float: left;
    margin-top: 10px;
}
.today-news-lr li{
    height: 30px;
}
.today-news-lr li span>a{
    color: #5EC6F5;
    margin-right: 5px;
}
.today-news-r {
    float: right;
    width: 290px;
    height: 403px;
    border: 1px solid #efefef;
}

.today-news-r .a-img {
    display: inline-block;
    width: 133px;
    height: 82px;
    background: url("../img/musicgrand.jpg") center;
    background-size: cover;
}

.today-news-r .newsr-ul div {
    display: inline-block;
    margin-left: 10px
}

.newsr-ul li {
    padding: 14px 0px 0px 15px;
}
.newsr-ul p{
    margin: 5px 0;
}
/*---------------index-banner---------------*/
.index-banner{
    background: url("../img/dock.jpg");
    width: 1000px;
    height: 80px;
    margin: 20px auto;
}
/*------------------index-dock-----------------*/
.index-dock{
    display: block;
    width: 1000px;
    height: 39px;
    background-color:#FBFBFB;
    line-height: 39px;
    border-bottom: 1px solid #f5f5f5;
    box-shadow: 0 1px 1px 1px #f8f8f8;
    margin-bottom: 10px;
    font-size: 13px;
}
.index-dock a{
    float: right;
    padding-right:5px ;
    color: brown;
    padding-top: 8px;
}
.index-dock strong{
    float: right;
    padding-right: 5px;

}
/*-----------------index-dynamic----------------*/
h4{
    font-size: 18px;
    font-weight: normal;
    margin: 0;
}
a{
    line-height: 2em;
}
.index-dynamic{
    width: 1000px;
   
}
.index-dynamicl{
    float: left;
    width: 700px;
    border: 1px solid #efefef;

}
.index-dynamicl h{
    display: block;
    width: 700px;
    height: 39px;
}
.index-dynamicll{
    width: fit-content;
    float: left;
}
.index-dynamicllt,.index-dynamicllf{
    /*width: 293px;*/
    width: fit-content;
    height: 113px;
}
.index-dynamicllt a,.index-dynamicllf a{
    line-height: 2em;
}
.index-dynamic-img{
    display: inline-block;
    width: 131px;
    height: 80px;
    background:url("../img/150570276058704_0.jpg") center;
    background-size: cover;
}
.index-dynamicll dd,.index-dynamicll dt,
.index-dynamicrt dd,.index-dynamicrf dt,
.index-dynamicrt dt,.index-dynamicrf dd
{
    display: inline-block;
}
.index-dynamicrf li span a {
color: #5EC6F5;
}
.index-dynamicll dd,
.index-dynamicr dd
{
    margin-left: 10px;
    width: 152px;
}
.index-dynamiclr{
    width: 381px;
    float: left;
    padding-left: 22px;
}
.index-dynamiclr dd{
    margin-left: 1px;
}
.index-dynamicr dd{
    margin-left: 4px;
}
.index-dynamiclr li span a,.index-dynamiclr dd span{
    color: #5EC6F5;
   margin-right: 10px;
}
.index-dynamicr{
    border: 1px solid #efefef;
    float: left;
    width: 293px;
    height: 267px;
}
/*-----------------index-message---------------*/
/*----------------index-phonebbs----------------*/
h6{
    font-size: 18px;
    color: #3b3b3b;
    margin: 0;
}
.index-phonebbs{
    
    border: 1px solid #efefef;
   
}
.index-phonebbs h{
    height: 39px;
    line-height: 39px;
    background-color:#FBFBFB ;
}
.index-phonebbs h>span{
    float: left;
    border-left: 4px solid #129be8;
}
.index-phonebbs h>a{
    float: right;
    margin-top: 5px;
}
.bbs-l,.bbs-m,.bbs-r{
    float: left;
}
.bbs-l{
    width: 288px;
}
.bbs-l-t>a{
    display: inline-block;
    width: 274px;
    height: 200px;
    background: url("../img/tech.jpg");
}
.bbs-l-f li{
    float: left;
}
.bbs-l-f li>a{
    display: inline-block;
    width: 130px;
    height: 84px;
    background: url("../img/bbsgjpg.jpg") center;
    background-size: cover;
}
.bbs-m{
    width: 325px;
}
.bbs-m a{
    float: none;
    color: black;
}
.bbs-m a:hover{
     color: #129be8;
}
.bbs-m span a,.bbs-r span a{
    color: #5EC6F5;
}
.bbs-r{
    width: 335px;
    margin-top: -10px;
    margin-left: 25px;
}
.bbs-r ul{
    margin-top: 10px;
}
.bbs-r>a{
    display: block;
    width: 335px;
    height: 203px;
    background: url("../img/spm.jpg");
}
/*----------------index-wallpaper---------------*/
.index-wallpaper{

}
.index-wallpaper h{
    display: block;
    height: 39px;
    line-height: 39px;
    
    border: 1px solid #efefef;
    border-left: 4px solid #129be8;
    margin: 5px 0px;
}
.index-wallpaper>h>a{
    color: #707070;
    padding-right: 10px;
}
.index-wallpaper span{
    padding-left: 10px;
    padding-right: 10px;
   
}
.index-wallpaper span:nth-last-child(1){
    float: right;
    border-left: 0px;
}
.wallcon ul{
    float: left;
    width: 215px;
}
.wallcon li{
    margin-left: 7px;
    float: left;
}
.wallcon>a>img{
    padding-left: 7px;
    float: left;
    display: inline-block;
    width: 180px;
    height: 320px;
}
.wallcon ul li a{
    display: block;
    width: 100px;
    height: 164px;
}
.wallcon ul img{
    width: 89px;
    height: 156px;
}
/*------------index-store----------------------*/
.index-store{
    border: 1px solid #efefef;
}
.index-store a{
    float: left;
    width: 100px   ;
    height: 24px;
    color: #707070;
}
.index-store dt{
    width: 130px;
    float: left;
    margin-left: 15px;
    font-size: 15px;
}
.index-store dd{
    float: left;
    width: 820px;
    height: 48px;
}
.index-store h{
    height: 39px;
    line-height: 39px;
    display: block;
    width: 994px;
    border: 1px solid #efefef;
    border-left: 4px solid #129be8;
}
.index-partner h3{
    margin-left: 15px;
    font-size: 15px;
}
/*-----------------index-attention----------------*/
.index-attention{
    border: 1px solid #efefef;
}
.index-attention dt{
    float: left;
    width: 130px;
    margin-left: 15px;
    font-size: 15px;
}
.index-attention dd{
    width: 820px;
    float: left;
}
.index-attention a{
    float: left;
    width: 100px;
    height: 24px;
}

