.index-partner{
    margin: 50px 0;
}
h1{
    font-size: 12px;
    font-weight: normal;
}
/*-----------con-one--------------*/
.con-one{
    margin-top: 50px;
    border: 1px solid;
}
.con-onel{
    float: left;
width: 695px;
}
.con-oner{
    float: left;
}
.con-one-h a{
    display: inline-block;
    width: 165px;
    height: 35px;
}
.con-oner{
    width: 290px;
}
.con-oner li{
    float: left;
    width: 92px;
    height: 37px;
}
.con-word li{
    float: left;
    height: 30px;
    width: 326px;
    line-height: 30px;
}
/*-------con-quick--------------------*/
.con-quickl{
    float: left;
    width:710px ;
    /*height: 591px;*/
    border: 1px solid #efefef;
}
.con-quickl h1{
    border: 1px solid #efefef;
    font-size: 12px;
    font-weight: normal;
    color: #9a9a9a;
    height: 16px;
    padding: 11px 17px 10px;
    margin-top: 15px;
}
.con-quickl h1 span{
    float: left;
    border-left: 4px solid #3f75c5;
    height: 16px;
    line-height: 16px;
    padding: 0 30px 0 8px;
    color: #3f75c5;
    overflow: hidden;
    zoom: 1;
}
.con-quickl h1 em{
    float: left;
    font-size: 12px;
    width: 14px;
    height: 16px;
    text-align: center;
    line-height: 16px;
    font-style: normal;
    background: url(../img/yueyu/icon.png) 0 -99px no-repeat;
}
.con-quickl h1 strong{
    float: left;
    font-weight: normal;
    padding: 0 20px 0 3px;
}
.con-quickl h1 a{
    float: right;
}
.con-quickl dt{
    float: left;
    width: 109px;
    height: 108px;
    border: 1px solid #efefef;
}
.con-quickl dd{
    float: left;
    width: 555px;
}
.con-quickl dd a{
    float: left;
    width: 109px;
    height: 68px;
    padding-top: 40px;
    text-align: center;
    font-size: 14px;
    border: 1px solid #efefef;
}
.con-quickl dd a:hover{
    background-color: #f8f8f8;
}
.con-quickl dd a em{
    display: block;
    width: 109px;
    font-style: normal;
    color: #9a9a9a;
}
.con-quickl dd a strong{


    font-style: normal;
    color: #272727;
}
.gray{
    background-color: #f8f8f8;
}
/*----------con-quickr----------*/
.con-quickr{
    width: 286px;
    float: left;
}
.con-quickr h1 span{
    float: left;
    border-left: 4px solid #3f75c5;
    font-size: 12px;
    color: #6e6e6e;
    padding-left: 8px;
}
.con-quickr h1 a{
    float: right;
    font-size: 12px;
    color: #6e6e6e;
}
.con-quickr ul{
    border: 1px solid #efefef;
    border-top: 0;
    overflow: hidden;
    zoom: 1;
    height: 90px;
    padding-top: 5px;
}
.con-quickr ul li{
    float: left;
    background: url(../img/yueyu/PrisonBreakIconBg.png) 10px -82px no-repeat;
    text-indent: 10px;
    height: 28px;
    width: 130px;
    padding-left: 10px;
}
.con-quickr-{
    float: left;
    width: 288px;
    height: 39px;
}
.con-quickr- h1 a{
    display: inline-block;
    width: 95px;
}
.con-quickr- h1 a:nth-last-child(1){
    float: right;
    width: fit-content;
}
.con-quickr- dl dt strong{
    float: right;
    margin-right: 75px;
}
.con-quickr- dl dt a{
   padding-left: 5px;
}
.con-quickr- dl dt em{
    padding-left: 5px;
}
.iphonesoftware dt{
    width: 130px;
    float: left;
}
.iphonesoftware dd{
    width: 820px;
    float: left;
}
.iphonesoftware a{
    float: left;
    width: 100px;
    height: 24px;
    line-height: 24px;
    color: #9a9a9a;
    overflow: hidden;
}
