<!--
/*
 * @Author: 
 * @Date: 
 * @Last Modified by: 
 * @Last Modified : 
 */
-->
.wrap{
    width: 1287px;
margin: 0 auto}
.inputDiv{
    display: inline-block;
/*background-color: red;*/
    width: 550px;
    height: 35px;
}
.inputDiv input{
    /*left: 0;*/
    color: #a9aaa9;
    font-weight: bold;
    display: inline-block;
    padding: 4px;
    width: 453px;
    height: 25px;
    border: 1px solid transparent;
    line-height: 25px;
    font-size: 14px;
}

.tabCar{
    height: 100px;
}
.con .conUL li{
  float: left;
    margin: 5px;

}
.carousel {
    position: relative;
    width: 590px;
    height: 470px;
}
/*默认li opcacity=0；position：absolute；z-index=0*/
/*实现思路：鼠标悬浮小圆点   该li  opacity=1，z-index=1*/
.imgUl{
    width: 590px;
    height: 470px;
}

.carousel .imgUl li{
    /*float: left;*/
    opacity: 0;
    position: absolute;
    z-index: 0;
}
/*.imgUl li:first-child{*/
    /*opacity: 1;*/
    /*z-index: 1;*/
/*}*/
/*轮播小圆点*/
 .carousel .point{
position: absolute;
     z-index: 10;   /*轮播区域中最高*/
     left: 50%;
     transform: translateX(-50%);
     bottom: 20px;
}
.point li{
    display: inline;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    /*background-color: black;*/
    margin: 5px 10px;
    background-color: #fff;
    border: 2px solid #b9beba;
}
 .carousel .point .act{
    background-color: hsla(0,0%,100%,.2);

}
/*箭头*/
.carousel .arrow{
    position: absolute;
    top: 0;
    left: 0;
    width: 590px;
    height: 470px;
    text-align: center;
    line-height: 50px;
    font-size: 20px;
opacity: 0;
    z-index: 5;
}
.carousel .arrow li:first-child{
    position: absolute;
    top: 50%;
    left: 0;
    cursor: pointer;
    width: 20px;
color: hsla(0,0%,100%,.4);
    float: left;
    background-color: rgba(0,0,0,.2);
    transition: all .1s linear;
}

.carousel .arrow li:last-child{
    position: absolute;
    top: 50%;
    right: 0;
    cursor: pointer;
width: 20px;
    background-color: rgba(0,0,0,.2);
    transition: all .1s linear;
color: hsla(0,0%,100%,.4);
    float: right;
}
/*tab*/
.tabCar .tabH{width: 100%;margin: 10px auto  10px 21px }
.tabCar .tabH a{
    text-align: center  ;
    display: inline-block;
    width: 40px;
    height: 20px;
}
.tabCar div{
    display: none;
}
 .tabCar .tabH .aNow{
     color: red;
     border-bottom: 2px solid red;

 }
 /*倒计时*/
.seck{
    display: inline-block;
    width: 192px;
    height: 276px;
    background-color:#e83632;
}
.sekill{
    position: relative;
    width: 135px;
   margin: 0 auto;
}
.day,
.hour,
.second{
    text-align: center;
    display: inline-block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    background-color: black;
}
.seck .sekill span{
    color: white;
    position: relative;
    line-height: 40px;
    font-weight: bold;
    /* font-size: 16px; */
    font-size: 20px;
}
/*红线*/
.redLine{
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: red;
    color: red;
    top: 50%;
}
.conCarousel{
    display: inline-block;
    position: relative;
    width: 800px;
    height: 276px;
    overflow: hidden;
}
.conCarousel .conCarUl{
position: absolute;
}
.conCarousel .conCarUl li{
    float: left;
}
.conPoint{display: none}
.conArrow{
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 50%;
    opacity: 0;
    /*visibility: hidden;*/
}
.conArrow li{
    list-style: none;
    width: 35px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    font-size: 30px;
    background: rgba(0,0,0,.2);
    cursor: pointer;
    /*display: none;*/
}
.conLeft{
    float: left;
}
.conCarousel .conRight{
    float: right;
}
.conTwo ul li{
  float: left;
}
/*隐藏导航条*/
.hideTop{
    position: fixed;
    top: -53px;   /*目标值0*/
    z-index: 600;
}
/*第三个轮播图*/
.conThree ul li{
    float: left;
}
.conThree .carouselThree ul li{
    float: left;
}
.conThree .carouselThree{
    position: relative;
    z-index: 555;
    display: inline-block;
    width: 392px;
    height: 451px;
    background: url("../img/carouselThree.png") no-repeat;
}
.carouselThreeDiv{
    position: relative;
    width: 351px;
    height: 357px;
    margin: 60px 20px;
    overflow: hidden;
}
.carouselThreeDiv .carouselUlThree{
    position: absolute;
}
.carouselThree  .threeArrow{
    position: absolute;
    top: 50%;
    width: 391px;
    height: 50px;
    left: 0px;
    text-align: center;
    line-height: 50px;
    opacity: 0;
}
.carouselThree .threeArrow .threeLeft{
    width: 20px;
    font-size: 25px;
    color: whitesmoke;
    float: left;
    background: rgba(0,0,0,.2);
    cursor: pointer;
}

.carouselThree .threeArrow .threeRight{
    width: 20px;
    font-size: 25px;
color: whitesmoke;
    background: rgba(0,0,0,.2);
    cursor: pointer;
    float: right;
}
.carouselThree .threePoint{
    position: absolute;
    bottom: 8px;
    left: 50%;
    transform: translateX(-50%);
}
.carouselThree .threePoint li{
    position: relative;
    display: inline-block;
    width: 16px;
    height: 16px;
    margin: 1px;
    color:    #666;;
    -moz-border-radius: 50%;
    border-radius: 50%;
    cursor: pointer;
}
.carouselThree .threePoint .threeActive{

background: #fdd9dd;
    position: relative;
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-right: 1px;
    -moz-border-radius: 50%;
    border-radius: 50%;
}
/*------第四个轮播*/
/*上下移动*/
.confour .carouselThree{
    position: relative;
    z-index: 55;
    display: inline-block;
    width: 392px;
    height: 451px;
    background: url("../img/jdrangephone.png") no-repeat;
}
#carouselFourUL li{
    float: none;
    margin-bottom: 42px;
}
.confour .carouselThreeDiv{
    position: relative;
    width: 355px;
    height: 315px;
    margin: 100px 20px 60px 20px;
    overflow: hidden;
}

.fourPoint li{
    /*position: relative;*/
    display: inline-block;
    width: 16px;
    height: 16px;
    margin: 1px;
    color: #666;
    -moz-border-radius: 50%;
    border-radius: 50%;
    cursor: pointer;
}