* {
	margin: 0;
	padding: 0;
}

.all {
	width: 100%;
	min-width: 972px;
	background-color: #ededef;
}

.head {
	width: 100%;
	min-width: 972px;
	height: 246px;
	background: url(../img/hdbg.jpg) -249px 0;
	position: relative;
}

.head a.return {
	color: white;
	display: block;
	font-size: 12px;
	text-decoration: none;
	position: absolute;
	top: 20px;
	left: 20px;
}

.head .head_content {
	width: 928px;
	height: 174px;
	margin: 0 auto;
	text-align: center;
	position: relative;
	top: 47px;
}

.head .head_content a.head_img {
	display: block;
	width: 217px;
	height: 92px;
	margin-left: 355.5px;
	background-image: url(../img/hdlogo.png);
}

.head .head_content p {
	color: white;
	width: 928px;
	height: 17px;
	line-height: 17px;
	font-size: 12px;
	letter-spacing: .1em;
	margin-bottom: 3px;
}

.head .head_content .head_p {
	margin-top: 25px;
}

.head .exit_after {
	text-decoration: none;
	color: #8c8c8c;
	font-size: 12px;
	position: absolute;
	bottom: 21px;
	right: 20px;
}

.lession_photo {
	width: 960px;
	height: 620px;
	background-color: #ffffff;
	border: 1px solid #ebebed;
	margin: 19px auto 0;
	box-shadow: 3px 3px 5px #ddddde;
}

.lession_photo .lession_h2 {
	width: 920px;
	height: 32px;
	margin: 0 auto;
}

.lession_photo h2 {
	width: 920px;
	height: 32px;
	text-align: center;
	font-weight: 100;
	color: #444444;
	position: relative;
	font-size: 23px;
	top: 21px;
}

.lession_photo ul {
	list-style-type: none;
	width: 940px;
	height: 528px;
	margin-top: 40px;
	margin-left: 20px;
}

.lession_photo ul li {
	width: 300px;
	height: 122px;
	float: left;
	margin-right: 10px;
	margin-bottom: 10px;
}

.lession_photo ul li a {
	position: relative;
}

.lession_photo ul li a img {
	width: 300px;
	height: 122px;
}

.back_img{
	width: 300px;
	height: 122px;
	position: relative;
	top:-125px;
	z-index: 999;
	opacity:0.4;
    display: none;
    background:black;
}

.lession_photo ul li:hover .back_img{
	display: block;
}

.lession_photo ul li a span {
	display: inline-block;
	width: 300px;
	z-index: 9999;
	text-align: center;
	color: white;
	font-size: 14px;
	position: absolute;
	top: -54px;
}

.friend_img {
	width: 960px;
	height: 402px;
	background-color: #ffffff;
	border: 1px solid #ebebed;
	margin: 18px auto 0;
	box-shadow: 3px 3px 5px #ddddde;
}

.friend_img .lession_h2 {
	width: 920px;
	height: 32px;
	margin: 0 auto;
}

.friend_img h2 {
	width: 920px;
	height: 32px;
	text-align: center;
	font-weight: 100;
	color: #444444;
	position: relative;
	font-size: 23px;
	top: 21px;
}

.friend_img ul {
	list-style-type: none;
	width: 930px;
	height: 310px;
	margin-top: 40px;
	margin-left: 20px;
}

.friend_img ul li {
	width: 145px;
	height: 145px;
	float: left;
	margin-right: 10px;
	margin-bottom: 10px;
}

.friend_img ul li a{
	position: relative;
}

.friend_img ul li a img {
	width: 145px;
	height: 145px;	
}

.friend_img ul li a img.img{
	width:27px;
	height: 27px;
	border-radius: 50%;
	top:-123px;
	right: 5px;
	position: absolute;
}

.friend_img ul li a:hover{
	opacity: 0.7;
}

.good_photo {
	width: 960px;
	background-color: #ffffff;
	border: 1px solid #ebebed;
	margin: 19px auto 0;
	box-shadow: 3px 3px 5px #ddddde;
}

.good_photo .good_ul{
	width:960px;
   
}

.good_photo .lession_h2 {
	width: 920px;
	height: 32px;
	margin: 0 auto;
}

.good_photo h2 {
	width: 920px;
	height: 32px;
	text-align: center;
	font-weight: 100;
	color: #444444;
	position: relative;
	font-size: 23px;
	top: 21px;
}

.good_photo ul {
	list-style-type: none;
	width: 930px;
	height: 380px;
	margin-top: 40px;
	margin-left: 20px;
}

#second_ul{
	margin-top:-10px;
	display: none;
}

.good_photo ul li {
	width: 175px;
	height: 180px;
	float: left;
	margin-right: 10px;
	margin-bottom: 10px;
}

.good_photo .good_ul a:hover{
	opacity: 0.7;
}

.good_photo ul li a img {
	width: 175px;
	height: 180px;
}

#click{
	margin-top: 10px;
	margin-bottom: 25px;
	display: block;
    font-size: 15px;
    text-align: center;
    color: #336162;
    cursor: pointer;
}

.footer{
	width:928px;
	height: 62px;
	margin: 0 auto;
}

.left{
	float: left;
	height: 62px;
	margin-left: 25px;
}

.footer a{
	display: inline-block;
	text-decoration: none;
	color:#74808b;
	height: 62px;
	line-height: 62px;
	font-size: 12px;
}

.footer span.s{
	border-right:1px solid   #878e98;
	height: 12px;
	display: inline-block;
	position: relative;
    top:2px;	       
}

.right{
	margin-right: 25px;
	height:62px;
	float: right;
}

.footer .right span{
	display: inline-block;
	font-size: 12px;
	color:#74808b;
	margin-left: 10px;	
}

.footer .right span img{
	position: relative;
	left:3px;
	top:2px;
}
