
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <table id="books">
        <thead></thead>
        <tbody></tbody>
    </table>
<script src="template-web.js"></script>
    <script src="jquery.min-1.12.4.js"></script>

    <!-- 生成标题栏 -->
    <script id="bookTitle" type="text/html">
        <tr>
            <% for(var i=0;i<title.length;i++){%>
            <th><%=title[i]%></th>
            <% } %>
        </tr>
    </script>

    <!-- 生成书的内容 -->
    <script id="bookContent" type="text/html">
        <tr>
            <% for(var i=0;i<data.length;i++){ %>
        <tr>
            <%for(var key in data[i]){ %>
            <td><%=data[i][key]%></td>
            <% } %>
            <td><span class="delete" data-id="<%=data[i]['id']%>">删除</span></td>
        </tr>
        <% } %>
    </script>

    <script>

        alert(a)
        a();
        var a=3;
        function a(){
            alert(10)
        }
        alert(a)
        a=6;
        a();
        /**
         * 生成表格的构造函数
         * @param url           获取数据的地址
         * @param tableId       需要把数据更新到的地方
         * @param tableId       获取数据时的方式,json/jsonp或其它
         * @param title         标题的对应结构
         * @param orderButtons  需要绑定排序的列名
         * @constructor
         */
        function Grid(url,tableId, dataType, title, orderButtons){
            this.url = url;
            this.tableId = tableId;
            this.dataType = dataType
            this.title = title
            this.orderButtons = orderButtons;
        }
        /*function Grid(json){
            this.url = json.url;
            this.tableId = json.tableId;
            this.dataType = json.dataType
            this.title = json.title
        }*/

        /**
         * 初始表格类
         */
        Grid.prototype.init = function(){
            if (this.title){
                this.title['execute'] = '操作';
            }
            // 获取数据
            this.getData();
        }
        /**
         * 获取数据
         */
        Grid.prototype.getData = function(){
            var _this = this;
            $.ajax({
                url: this.url,
                type: 'get',
                dataType: this.dataType,
                success: function (data) {
                    _this.data = data;
                    // 渲染标题栏
                    _this.renderTitle();
                    // 渲染内容
                    _this.renderContent();
                    // 给删除添加事件
                    _this.addDeleteEvent();
                    // 绑定排序的点击事件
                    for (var i=0;i<_this.orderButtons.length;i++){
                        _this.bindOrderClick(_this.orderButtons[i].colName, _this.orderButtons[i].orderRule);
                    }
                }
            });
        }
        /**
         * 渲染标题
         */
        Grid.prototype.renderTitle = function(){
            var thead = document.querySelector('#' + this.tableId + ' thead');
            // 判断thead里是否已经存在了标题(tr/td)，如果没有才需要添加
            if (thead.children.length == 0) {
                // 生成title的数据
                var title = [];
                var first = this.data.data[0];
                for (var key in first) {
                    title.push(this.title?this.title[key]:key);
                }
                title.push(this.title?this.title['execute']:'execute');
                var html = template('bookTitle', {title: title});
                thead.innerHTML = html;
            }
        }
        /**
         * 渲染内容
         */
        Grid.prototype.renderContent = function(){
            var html = template('bookContent', this.data);
            document.querySelector('#' + this.tableId + ' tbody').innerHTML = html;
        }
        Grid.prototype.addDeleteEvent = function(){
            var _this = this;
            document.querySelector('#' + this.tableId).addEventListener('click', function(e){
                var target  = e.target;       // 谁触发了table的点击事件
                if (target.innerHTML == '删除'){
                    // alert(target.getAttribute('data-id'));
                    $.ajax({  //高层方法中type默认为get，若想取得更大灵活性  可以使用低层的$ .post(),$.get()
                        url: _this.url + '/delete',
                        data: {id:target.getAttribute('data-id')},  //发送到服务器的数据
                        type: 'get',
                        dataType: 'jsonp',
                        success: function(data){
                            if (data.status == 0){
                                _this.getData();
                            }else{
                                alert(data.statusText);
                            }
                        }
                    });
                }
            });
        }
        Grid.prototype.bindOrderClick = function(colName, orderRule){
            var _this = this;
            var tds = document.querySelectorAll('#' + this.tableId + ' thead tr th');

            for (var i=0;i<tds.length;i++){
                if (tds[i].innerHTML == colName){
                    tds[i].onclick = function(){
                        _this.makeOrder(colName, orderRule);
                    };
                    break;
                }
            }
        }
        /**
         * 给数据排序
         */
        Grid.prototype.makeOrder = function(colName, orderRule){
            if (!this.data){
                return;
            }

            var data = this.data.data;
            var order = undefined;          // 排序是用正序还是倒序
            if (this.orderCol){
                order = this.orderCol[colName];
            }else{
                this.orderCol = {};          // 如果没有保存过orderCol就把它创建出来
            }
            order = order ? order : 'asc';  // 如果order没有值用正序，否则还是用order的值

            data.sort(function (a, b) {
                if (orderRule){
                    return orderRule(a[colName], b[colName], order);
                }
                if (order == 'asc'){    // 原有排序是正序
                    return b[colName] - a[colName];
                }
                return a[colName] - b[colName];
            });
            this.orderCol[colName] = order == 'asc' ? 'desc' : 'asc';
            this.renderContent();
        }




        var title = {author:'作者', price:'价格', hot:'销量', name:'书名', id:'序列'};
        var url = 'http://172.17.12.10:8080/webserver/book';
        var table = new Grid(url, 'books', 'jsonp', null,
            [{colName:'price'},
                {colName:'hot'},
                {colName:'author', orderRule:chineseOrder},
                {colName:'name', orderRule:chineseOrder}]);
        table.init();


        function chineseOrder(a, b, order){
            var size = Math.min(a.length, b.length); // 需要比较的最少次数
            for (var i=0;i<size;i++){
                var c1 = a.charCodeAt(i);
                var c2 = b.charCodeAt(i);
                if (c1 != c2){
                    if (order == 'asc'){
                        console.log('desc', c1, c2)
                        return c2 - c1;
                    }
                    console.log('asc', c1, c2)
                    return c1 - c2;
                }
            }
            if (order == 'asc'){
                return b.length - a.length;
            }
            return a.length - b.length;
        }
        console.log('ddd')
    </script>
</body>
</html>