body {
  background: green;
}
.huidan-preview-wrap {
  width: 990px;
  background: #FFFFFF;
  box-sizing: border-box;
  padding: 40px 29px 50px 31px;
}
.huidan-preview-wrap * {
  margin: 0;
  padding: 0;
}
.huidan-preview-wrap h1 {
  color: #333;
  font-size: 14px;
  text-align: center;
  line-height: 1;
  margin-bottom: 30px;
}
.huidan-preview-wrap table {
  border-collapse: collapse;
  border: 1px solid #ccc;
  font-size: 14px;
  color: #333;
}
.huidan-preview-wrap td {
  box-sizing: border-box;
  padding: 14px 19px;
}
.huidan-preview-wrap .td1 {
  width: 119px;
  text-align: center;
}
.huidan-preview-wrap .td2 {
  width: 343px;
}
.huidan-preview-wrap tr + tr {
  border-top: 1px solid #ccc;
}
.huidan-preview-wrap td + td {
  border-left: 1px solid #ccc;
}
.huidan-preview-wrap .huidan-btn {
  font-size: 12px;
  color: #4496F9;
  width: 100px;
  margin: 30px auto 0;
  height: 30px;
  line-height: 30px;
  text-align: center;
  border: 1px solid #4496F9;
  cursor: pointer;
}
