/*===================基本布局==================*/
body{
    overflow-x: hidden;
    background-color: #EDEDEF;
}

/*头部导航*/
header{
    width: 100%;    
    height: 82px;
    background-color: #24292C;
    margin-bottom: 30px;

    display: flex;
    justify-content: center;   
}

/*页面中心*/
 .page-body{
    width: 928px;
    margin: 0 auto;

    display: flex;
    justify-content: space-between;
}

.content{
    width: 674px;
    /* background: #ccc; */
}

.ads{
    width: 230px;
    /* background: #ccc; */
}

/*页面底部*/
footer{
    height: 32px;
    padding: 25px 0;
    border-top: 1px solid #dbdbdd;
    text-align: center;
    background: #e7e7e7;
}


/*===================头部布局==================*/

/*头部内框*/
.siteHeader {
    display: flex;
    width: 928px;
    height: 82px;
}

/* logo外框 */
.siteHeaderLogo{
    display: flex;
    align-items: center;
}

.siteHeaderLogo .logo{
    width: 220px;
    height: 44px;
    background: url(../img/hd.png);
}

/* 导航框 */
.nav-wrapper{
    display: flex;
    justify-content: flex-end;
    width: 707px;
    margin: 35px 0 0;
}

/* 导航 */
.nav{
    display: flex;
    justify-content: space-around;
    width: 450px;
    padding-right: 5px;
    padding-left: 13px;
}

.nav li{
    height: 47px;
    margin: 0 0 0 30px;
}

.nav li.active{
    background: url(../img/hd.png) center -102px;
}

.nav li a{
    color: #999;
}

.nav li > a:hover{
    color: #fff;
}

.nav li.active a{
    color: #fff;
}

/* 更多下拉符号 */
.fa-angle-down{
    width: 15px;
    height: 21px;
    background: url(../img/icon.png) 6px 9px;
}

#moreitem:hover .fa-angle-down{
    background-position: -16px 9px;
}

/*更多-下拉列表*/
 .listDiv{
    width: 226px;
    height: 342px;
    position: absolute;
    background: white;
    padding: 0 2px;
}

.triimg{
    width: 222px;
    height: 8px;
    background-image: url("../img/icon.png");
    background-position: 105px -16px;
    background-repeat: no-repeat;
}

.item-box{
    font-size: 12px;
    line-height: 24px;
    height: 40px;
    width: 100%;
    margin: -1px 0 1px;
    border-top: 1px solid #202020;
    border-bottom: 1px solid #0c0c0c;
    background-color: #191919;

    display: flex;
    align-items: center;
    /*justify-content: center;*/
}

.item-box:hover{
    background-color: #333;
}

.item-box a{
    display: block;
    width: 147px;
    padding: 0px 40px;
    color: #bcbcbc;
    line-height: 40px;
    font-size: 12px;
    text-align: left;
    background-image: url("../img/icon.png");
}

.item-box a:hover{
    color: #fff;
}

a.acountlink{
    background-position: 16px -260px;
    background-repeat: no-repeat;
}

a.acountlink:hover{
    background-position: -215px -260px;
}

a.findfriend{
    background-position: 17px -299px;
    background-repeat: no-repeat;
}

a.findfriend:hover{
    background-position: -214px -299px;
}

a.inOrout{
    background-position: 16px -712px;
    background-repeat: no-repeat;
}

a.inOrout:hover{
    background-position: -217px -712px;
}

a.mobile{
    background-position: 18px -339px;
    background-repeat: no-repeat;
}

a.mobile:hover{
    background-position: -213px -339px;
}

a.filter{
    background-position: 17px -1017px;
    background-repeat: no-repeat;
}

a.filter:hover{
    background-position: -214px -1017px;
}

a.perApp{
    background-position: 16px -809px;
    background-repeat: no-repeat;
}

a.perApp:hover{
    background-position: -217px -809px;
}

a.feedback{
    background-position: 16px -381px;
    background-repeat: no-repeat;
}

a.feedback:hover{
    background-position:  -215px -381px;
}

a.exit{
    background-position: 16px -419px;
    background-repeat: no-repeat;
}

a.exit:hover{
    background-position:  -215px -419px;
}

/* 搜索框 */
.search-box{
    display: flex;
    align-items: center;
    width: 230px;
    height: 24px;
    margin-left: 26px;
    padding: 2px 0;
    background: #000;
    border-radius: 20px 20px 20px 20px;
}

.siteHeaderSearch{
    margin: 4px 3px 0 8px;
    width: 18px;
    height: 18px;
    background: url(../img/icon.png) 0 -81px no-repeat;
    align-self: baseline;
}

.siteHeaderInput{
    width: 144px;
    height: 18px;
    background-color: #000000;
    outline: none;
    border: 0;
    color: white;
    font-size: 12px;
}

.newmark{
    width: 40px;
    height: 18px;
    margin-left: 8px;
    color: #303539;
    background: url(../img/icon.png) -210px -81px no-repeat;
}

/*===================左侧发布信息栏==================*/
.post-bar{
    height: 110px;
    width: 670px;
    padding: 1px 2px 3px;
    margin: 0 0 30px;

    display: flex;
    justify-content: center;
    background: url(../img/postbar.png);
}

.post-bar li{
    width: 112px;
}

.post-bar li a{
    display: block;
    height: 110px;
}

.page-body li.user{
    width: 110px;
}

.page-body li img{
    width: 110px;
    height: 110px;
}

.post-bar li .posttext:hover{
    background: url(../img/postbar.png) -112px -133px;
}

.post-bar li .postphoto:hover{
    background: url(../img/postbar.png) -224px -133px;
}

.post-bar li .postmusic:hover{
    background: url(../img/postbar.png) -336px -133px;
}

.post-bar li .postvideo:hover{
    background: url(../img/postbar.png) -448px -133px;
}

.post-bar li .postarticle:hover{
    background: url(../img/postbar.png) -560px -133px;
}

/*===================右侧个人信息栏==================*/
.author-msg{
    margin: 2px 0 12px;
    width: 230px;
    height: 203px;
    /* border: 1px solid salmon; */
    /* box-shadow: 1px 1px 1px #D7D7D8; */
    /* display: flex; */
    box-shadow:    
    0 0 0 0 #D7D7D8,   /*上边阴影  红色*/
    -1px 0 2px 0 #D7D7D8,   /*左边阴影  绿色*/
    1px 0 2px 0 #D7D7D8,    /*右边阴影  蓝色*/
    0 1px 2px 0 #D7D7D8;    /*下边阴影  黄色*/
}

.blogmanage{
    width: 100%;
    height: 100%;
    font-size: 14px;
    color: #444;
    background-color: #f3f3f3;
}

/* 头部个人信息 */
.userbox{
    height: 53px;
    width: 100%;
    box-shadow: 0 2px 2px #B6B6B8;
    display: flex;
}

.usname{
    width: 154px;
    height: 53px;
    border-right:1px solid #dfdfdf; 
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 16px;
    color: #444;
}

.usname:hover{
    background-color: #fff;
}

.lg1{
    font-size: 14px;
    font-weight: bold;
}

.lg2{
    font-size: 12px;
}

.dropicon{
    display: inline-flex;
    width: 56px;
    height: 53px;
    background: #f3f3f3 url(../img/icon.png) 0 -147px;
    border-left: 1px solid #fff;
}

.dropicon:hover{
    background-color: #fff;
}

/* 个人信息选项 */
.blogmanage li{
    padding-left: 16px;
    height: 37px;

    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid #dfdfdf;
    border-bottom: 1px solid #fff;
}

.blogmanage li:hover{
    background-color: #fff;
}

.blogmanage li span{
    padding-left: 25px;
}

.m_r17{
    margin-right: 17px;
    font-size: 12px;
    color: #888;
}

.article{
    background: url(../img/iconsmall.png) no-repeat 0 -1684px;
}

.concern{
    background: url(../img/iconsmall.png) no-repeat 0 -288px;
}

.priLetter{
    background: url(../img/iconsmall.png) no-repeat 0 -1966px;
}

.personset{
    background: url(../img/iconsmall.png) 0 -1601px no-repeat;
}

.blogmanage .per-setting{
    height: 33px;
    border-top: 1px solid #b2b2b2;
    border-bottom: 0;
    background-color: #e7e7e7;
    box-shadow:    
    0 0 0 0 #D7D7D8,   /*上边阴影  红色*/
    -1px 0 2px 0 #D7D7D8,   /*左边阴影  绿色*/
    1px 0 2px 0 #D7D7D8,    /*右边阴影  蓝色*/
    0 2px 2px 0 #B6B6B8;    /*下边阴影  黄色*/
}


/*===================右侧专题推荐==================*/
.recom-box{
    margin: 0 0 15px;
    background: #fff;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,.32);
}

.recom-special-img{
    position: relative;
    overflow: hidden;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,.2);
}

.recom-special-img a{
    display: block;
    height: 98px;
    overflow: hidden;
}

.recom-special-img .cover{
    position : absolute;
    /*容器拉伸*/
    left:0;top:0;right:0;bottom:0;
    background-color:#000;
    opacity: .3; filter:alpha(opacity=30);
}

.tip{
    position : absolute;
    left: 0;
    top: 30%;
    text-align: center;
    font-size: 16px;
    color: #fff;
    padding: 0 10px;
}

.m-selmorebtn2{
    padding-left: 40px;
    height: 34px;
    font-size: 12px;
    background: #e7e7e7 url(../img/iconsmall.png) no-repeat 16px -3334px;
}

.m-selmorebtn2:hover{
    background-color: #fff;
}

.m-selmorebtn2 a{
    line-height: 34px;
}

/*===================右侧活动推荐==================*/
.activityRecombox{
    font-size: 12px;
    color: #444;
    margin: 0 0 15px;
    background: #fff;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,.32);
}

.activityRecombox .box{
    box-shadow: 0 1px 2px 0 rgba(0,0,0,.2);
}

.headarea{
    padding: 12px 0 7px 12px;
}

.headarea .headName{
    width: 208px;
    line-height: 23px;
}
.headarea a.actName{
    color: #333;
    font-size: 15px;
}

.joinnum{
    margin-top: 0;
    margin-right: 0;
    line-height: 19px;
    color: #999;
    font-size: 11px;
}

.actimgarea{
    padding: 0 0 6px 12px;
    font-size: 0;
}

.actimgarea a{
    display: inline-block;
    margin: 0 6px 6px 0;
}

.actimgarea a .item{
    display: inline-block;
    width: 100px;
    margin: 0 1px 1px 0;
    background: #3D3D3D;
    color: #7B7B7B;
}

.actimgarea a .item img{
    width: 100%;
}

/*===================左侧推文列表==================*/
.media {
    width: 670px;

    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: flex-end;

    margin-bottom: 1em;
  
    
}

/* 头像区 */
.media-figure {
    margin-right: 1em;
    width: 64px;
    height: 64px;
    padding: 1px 2px 3px;

    background:  #D6D6D8;
}

.media-body {
    /* flex: 1; */
    width: 585px;
    display: flex;
    
    
}

.media-body,
.media-body :last-child {
    margin-bottom: 0;
}

.media-body .triangle{
    width:0; height:0; 
    border-width:10px 10px; 
    border-style:solid; 
    border-color:#fff #fff transparent transparent ;
}


.media-msg-box{
    width: 575px;
    height: 100%;
    background:  #fff; 
    padding: 30px;
    font-size: 14px;
    /* box-shadow: .2em .2em .3em -.1em rgba(0,0,0,.15); */
}

/* 右上角的折角效果 */
.media-msg-box:hover{
    position: relative; 
    background: #fff; 
    background: linear-gradient(-150deg, transparent 1.5em,#fff 0); 
    /* border-radius: .5em;  #7594B3 */

} 

.media-msg-box:hover::before{
    content: ''; 
    position: absolute; 
    top: 0; right: 0; 
    background: 
        linear-gradient(to left bottom, transparent 50%, #fff 0, rgba(117,148,179,.4)) 100% 0 no-repeat; 
    width: 1.73em; 
    height: 3em; 
    transform: translateY(-1.3em) rotate(-30deg); 
    transform-origin: bottom right; 
    border-bottom-left-radius: inherit; 
  
}


/* 标题 */
.msg-title{
    width: 100%;
    height: 19px;
    margin-bottom: 1em; 
    line-height: 19px;
    display: flex;
    align-items: center;
}

/* 加号 */
.addicon{
    display: inline-block;
    width: 12px;
    height: 12px;
    margin:  0 5px;
    background: url(../img/icon2-8.png) -88px -1973px;
}

.addicon:hover{
    background-position: -67px -1973px;
}

/* 图文总框 */
.msgbody{
    width: 100%;
    font-size: 14px;
}

/* 图片区 */
.msgbody img{
    width: 164px;
    margin-right: 15px;
}

.msgbody img:hover{
    width: 100%;  
}

/* 图片右边的文段区 */

.short-paragraph{
    height: auto;
    /* max-height: 400px; */
    margin-bottom: 10px;
}

.short-paragraph h4{
    margin: 0 0 10px;
}

.msgbody blockquote p{
    margin: 0 0 10px;
}



/* 文段全行添加的样式 */
.add-leftspace{
    border-left:  4px solid #dfdfdf;
    padding-left: 15px;
}

/* 展开按钮 */
.showmore{
    margin: 16px 0;
}

.moreopen{
    padding-right: 16px;
    line-height: 15px;
    font-size: 12px;
    color: #888;
    background: url(../img/iconsmall.png) right -2617px;
}

/* 标签栏 */
.posttag{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-top: 16px;
    font-size: 12px;
    height: 19px;
}

.posttag a{
    color: #aaa;
    margin-left: 18px;
}

.posttag a:hover{
    color: #7594b3
}

.opta{
    display: flex;
    padding-left: 18px;
    background: url(../img/icon24.png) no-repeat 0 -104px;
}

.likeheart{
    display: inline-block;
    width: 20px;
    height: 18px;
    background: url(../img/icon24.png) -80px -2759px;
    vertical-align: -4px;
}

.likeheart:hover{
    background-position: -80px -2722px;
}

/* 红心 */
.redheart{
    background-position: -80px -2790px;
}

/* 回到顶部按钮 */
.totop{
    position: fixed;
    right: 30px;
    bottom: 30px;
    width: 50px;
    height: 50px;
    background: url(../img/icon2-8.png) 0 -934px;
}

.totop:hover{
    background-position: -50px -934px;    
}

.loadm{
    line-height: 32px;
    display: inline-block;
    padding-left: 42px;
    background: url(../img/loadm.gif) no-repeat;
    font-size: 24px;
}