* {
	margin: 0;
	padding: 0;
}

body {
	font: 12px/1.5 tahoma, arial, Hiragino Sans GB, WenQuanYi Micro Hei, 微软雅黑, 宋体, sans-serif;
	line-height: 1.5;
	color: #333;
}

a {
	outline: 0;
	text-decoration: none;
}

.line {
	border-right: 1px solid #3b3b3b;
	height: 15px;
	display: inline-block;
	margin: 0 5px;
	position: relative;
	top: 2px;
}

#line {
	border-right: 1px solid #3b3b3b;
	height: 15px;
	display: inline-block;
	margin: 0 8px;
	position: relative;
	top: 2px;
}

.toal {
	background-color: white;
	width: 1000px;
	margin: 40px auto;
}

.header {
	background-color: #FDFBFE;
	padding-bottom: 44px;
}

.u-logo {
	float: left;
	background-image: url(../img/sprite.png);
	background-position: 0 0;
	width: 313px;
	height: 53px;
}

#u-promise {
	float: right;
	margin-top: 12.5px;
	background-image: url(../img/sprite.png);
	background-position: -317px 0;
	width: 445px;
	height: 28px;
}

.content {
	height: 600px;
	background-image: url(../img/15109125158061.jpg);
	background-position: center center;
	background-repeat: no-repeat;
}

.single {
	background-color: #FDFBFE;
	float: right;
	width: 274px;
	padding-top: 40px;
	padding-right: 100px;
}

.single_login {
	width: 274px;
	height: 246px;
}

.top-tip {
	font-size: 14px;
	line-height: 16px;
	margin-bottom: 15px;
}

.phoneUserEmail {
	position: relative;
	margin-bottom: 25px;
}

.inputPUE {
	width: 250px;
	padding: 8px 10px;
	height: 18px;
	line-height: 18px;
}

.inputPUE:hover {
	border: 1px solid #f20266;
	border-radius: 3px;
}

.user-form-tip {
	height: 25px;
	line-height: 25px;
	color: #f20266;
	margin-top: -25px;
}

.password {
	position: relative;
	margin-bottom: 25px;
}

.inputPassword {
	width: 250px;
	padding: 8px 10px;
	/*color: #f20266;*/
	height: 18px;
	line-height: 18px;
}

.inputPassword:hover {
	border: 1px solid #f20266;
	border-radius: 3px;
}

.u-form-submit {
	margin-bottom: 15px;
}

#login_submit {
	border: 1px solid #f10180;
	background-color: #f20266;
	width: 140px;
	height: 40px;
	font-size: 16px;
	line-height: 40px;
	cursor: pointer;
}

#login_submit:hover {
	opacity: 0.8;
	border-color: #f43499;
}

.u-btn-loading {
	cursor: pointer;
	color: #FFFFFF;
}

.user-form-other {
	margin-bottom: 50px;
}

.f-left {
	float: left;
}

.ui-checkbox {
	display: inline-block;
	vertical-align: middle;
	margin-right: 5px;
	font-size: 0;
	line-height: 0;
}

/*.ui-checkbox-normal {}*/

.u-checkbox-lable {
	height: 19px;
	display: inline-block;
	line-height: 16px;
	vertical-align: middle;
	cursor: pointer;
}

.u-connot-login {
	float: right;
	color: #b3b3b3;
}

.forget {
	color: #666;
}

.register {
	color: #f10180;
}

.third_login {
	line-height: 24px;
	colo: #666;
	transform-style: preserve-3d;
	perspective: 1000px;
	width: 274px;
	height: 131px;
}

.title {
	margin-bottom: 5px;
}

p.title {
	display: block;
}

.arrow {
	display: inline-block;
	font-size: 0;
	height: 0;
	overflow: hidden;
	border-width: 4px;
	border-style: solid dashed dashed dashed;
	border-color: #666 transparent transparent transparent;
	vertical-align: -2px;
	margin-left: 2px;
}

.-sina {
	background-position: -291px -57px;
	float: left;
	_display: inline;
	margin-right: 8px;
	background-image: url(../img/sprite.png);
	width: 24px;
	height: 24px;
}

.-qq {
	background-position: -235px -57px;
	float: left;
	_display: inline;
	margin-right: 8px;
	background-image: url(../img/sprite.png);
	width: 24px;
	height: 24px;
}

.-alipay {
	background-position: -179px -57px;
	float: left;
	_display: inline;
	margin-right: 8px;
	background-image: url(../img/sprite.png);
	width: 24px;
	height: 24px;
}

.-wechat {
	background-position: -207px -57px;
	float: left;
	_display: inline;
	margin-right: 8px;
	background-image: url(../img/sprite.png);
	width: 24px;
	height: 24px;
}

/*.footer {}*/

.u-copyright {
	color: #767074;
	text-align: center;
}
.more-login a{
	color: black;
}
.more-login a:hover{
	color: #F10180;
}
